<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <section class="block block--modal">
            <h1 class="title title--modal">{{ trans('view_notes_for', thread.subject) }}</h1>
            <div class="block__content block__content--text">
                {{ thread.notes|nl2br }}
            </div>
        </section>
    </div>
</div>
