{# Not used #}
{# 
<div class="row row--form field">
    <h3 class="field__name">{{ lang.username }}</h3>
    <p class="field__value">{{ mybb.user.username }} [<a href="member.php?action=logout&amp;logoutkey={{ mybb.user.logoutkey }}">{{ lang.change_user }}</a>]</p>
</div>
#}
