.messenger {

    .page-header {
        margin-bottom: 20px;
    }

    &__search {
        padding-bottom: 12px;

        .textbox--large {

            @include bp-small-max {
                margin-bottom: 8px;
                width: 100%;
            }
        }

        .button {
            margin-#{$left}: 0;
        }
    }

    &__advanced-search {

        @include bp-large {
            float: $right;
        }
    }

    &__space {
        margin-bottom: 10px;

        .messenger-space {
            display: flex;
            background-color: $background-1;
            border-radius: $radius;

            &__used {
                border-radius: $radius;

                &--low {
                    background: $success-color;
                }

                &--medium {
                    background: $moderate-color;
                }

                &--high {
                    background: $danger-color;
                }
            }

            &__unused {

            }

            &__text {
                display: inline-block;
                padding: 4px 10px;

                &--over-half {
                    color: $invert-font-color;
                }
            }
        }
    }
}

.sort-messages {
    position: relative;
    padding: 8px 12px;
    font-size: 0.9em;
    color: $alt-font-color-2;
    background: $background-3;
    border-radius: $radius;

    @include bp-small {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: side-values(8px 12px 8px 70px);

        &--no-avatar {
            padding-#{$left}: 12px;
        }
    }

    &--alt {
        background: none;
        border-bottom: 1px solid $border-1;
        border-radius: 0;
    }

    &__link {

        &:link,
        &:visited {
            color: $alt-font-color-1;
        }

        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }

    &__column {

        &--primary {

            @include bp-small {
                width: 67%;
            }
        }

        &--date {

            @include bp-small {
                width: 28%;
                text-align: $right;
            }
        }

        &--checkbox {
            width: 5%;
            text-align: $right;

            @include bp-small-max {
                position: absolute;
                top: 12px;
                right: 12px;
            }
        }
    }
}

.message-list {

    &__actions {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid $border-2;
    }

    .messages__sort-arrow {
        display: inline-block;
        padding: 0 5px;

    }

    .message {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-#{$left}: 66px;

        @include bp-small {
            flex-direction: row;
            align-items: center;
        }

        &:last-child {
            border-bottom: 0;
        }

        &--new_pm {

            .message__subject {
                font-weight: bold;
            }
        }

        &--no-avatar {
            padding-#{$left}: 12px;
    	}

        .avatar-profile-link {
            float: $left;
            margin: side-values(2px 0 0 -52px);
    	}

        &__column {

            &--primary {
                width: 67%;
            }

            &--date {
                width: 28%;
                text-align: $right;
            }

            &--checkbox {
                width: 5%;
                text-align: center;
            }

            &--primary,
            &--date {

                @include bp-small-max {
                    width: 100%;
                    text-align: $left;
                }
            }

            &--checkbox {
                text-align: $right;

                @include bp-small-max {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                }
            }
        }

        &__subject {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
        }

        &__username,
        &__folder {
            margin: 0;
            font-size: 0.8em;
            color: $alt-font-color-2;

            a:link,
            a:visited {
                color: $alt-font-color-1;
            }

            @include bp-small {
                display: inline-block;
            }
        }

        &__message {
            margin: side-values(10px 0 0 0);
            font-size: 0.9em;
        }

        &__deny-receipt {
            margin-#{$left}: 5px;
            font-size: 0.8em;
            font-weight: normal;
            color: $alt-font-color-2;

            a:link,
            a:visited {
                color: $alt-font-color-1;
            }
    	}

        &__icons {
            float: $right;
            margin-#{$left}: 16px;
            color: $alt-font-color-2;
        }

        &__icon {
            margin-#{$left}: 2px;

            &--new_pm {
                color: $primary-color;
            }
        }

        &__date {
            font-size: 0.9em;
            color: $alt-font-color-2;
        }
    }
}

.row .message {
    padding: 0;
}
