@mixin black-transparency($transparency) {
    color: rgba(0,0,0,$transparency);
}

@mixin white-transparency($transparency) {
    color: rgba(255,255,255,$transparency);
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@mixin avatar($size) {
    width: #{$size}px;
    height: #{$size}px;

    $icon-size: $size/2;

    .avatar {
        width: #{$size}px;
        height: #{$size}px;

        &__icon {
            font-size: #{$icon-size}px;
        }
    }
}

@mixin container {
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-6);
    background: var(--background-1);
    border-radius: var(--border-radius);

    &--small {
        padding: var(--spacing-3) var(--spacing-4);
        font-size: var(--font-size-small);
    }

    &--adjacent {
        margin-bottom: 0;
    }

    &--modal {
        padding: var(--spacing-3) var(--spacing-6);
        margin: side-values(calc(-1 * var(--spacing-3)) calc(-1 * var(--spacing-5)) 0 calc(-1 * var(--spacing-5)));
        border-bottom: var(--border-width-base) solid var(--border-color-1);
        border-radius: 0;
    }
}

.hidden {
    @include hidden;
}

.visually-hidden {
    @include visually-hidden;
}

.commas {

    > * {

        &:after {
            content: ",";
        }

        &:last-child {

            &:after {
                content: "";
            }
        }
    }
}
