@mixin black-transparency($transparency) {
    color: rgba(0,0,0,$transparency);
}

@mixin white-transparency($transparency) {
    color: rgba(255,255,255,$transparency);
}

@mixin box-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@mixin avatar($size) {
    width: #{$size}px;
    height: #{$size}px;

    $icon-size: $size/2;
    $initial-size: $size/1.9;

    .avatar {
        width: #{$size}px;
        height: #{$size}px;

        &__icon {
            font-size: #{$icon-size}px;
        }

        &__initial {
            font-size: #{$initial-size}px;
        }
    }
}

.hidden {
    @include hidden;
}

.visually-hidden {
    @include visually-hidden;
}

.commas {

    > * {

        &:after {
            content: ",";
        }

        &:last-child {

            &:after {
                content: "";
            }
        }
    }
}
