<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table border="0" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" class="tborder">
            <tr>
                <td class="trow1" style="padding: 20px">
                    <strong>{{ lang.error }}</strong><br /><br />
                    <blockquote>{{ message }}</blockquote>
                </td>
            </tr>
        </table>
    </div>
</div>