<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"

         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
>
  <source>
    <include>
      <directory>inc/src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/Unit</directory>
    </testsuite>
    <testsuite name="system">
      <directory>./tests/System</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="testing" value="1"/>
  </php>
</phpunit>
