// Screen size breakpoints
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1140px;

// Height of page header
$header-height: 75px;

// Speed of transitions
$transition-speed: .25s;

// Border radius
$radius: 4px;
