{% extends 'modals/base.twig' %}

{% block content %}
    <section class="block block--modal">
        <h2 class="title title--modal title--danger">{{ mybb.settings.bbname }}</h2>
        <div class="modal__content">
            <div class="block__content">{{ message }}</div>
        </div>
    </section>
{% endblock content %}
