<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table border="0" cellspacing="0" cellpadding="5" class="tborder">
            <tr>
                <td class="thead"><strong>__title__</strong></td>
            </tr>
            <tr>
                <td class="trow1">__message__</td>
            </tr>
            <tr>
                <td class="tfoot">
                    <div style="text-align: center" class="modal_buttons">__buttons__</div>
                </td>
            </tr>
        </table>
    </div>
</div>
