{#<tr>
    <td class="trow1" width="20%"><strong>{{ lang.username }}</strong></td>
    <td class="trow1">
        {{ mybb.user.username }}
        <span class="smalltext">
            [<strong><a href="member.php?action=logout&amp;logoutkey={{ mybb.user.logoutkey }}">{{ lang.change_user }}</a></strong>]
        </span>
    </td>
</tr>#}
