<table border="0" cellspacing="1" cellpadding="4" align="center" class="tborder">
    <tr>
        <td class="tcat">
            <strong>{{ lang.warnings }}</strong>
        </td>
    </tr>
    <tr>
        <td class="trow1">
            <span class="smalltext">{{ warnings|raw }}</span><br />
        </td>
    </tr>
</table>
<br />
<br />