/* Sub Menu Icons */
.submenu .administration_version a {
	background: url('/mods/assets/images/admin/version.png') no-repeat 3px;
}

.submenu .administration_tag a {
	background: url('/mods/assets/images/admin/tag.png') no-repeat 3px;
}

.submenu .administration_license a {
	background: url('/images/admin/mods/administration_license.png') no-repeat 3px;
}

.submenu .administration_missing a {
	background: url('/images/admin/mods/administration_missing.png') no-repeat 3px;
}

.submenu .administration_orphan a {
	background: url('/images/admin/mods/administration_orphan.png') no-repeat 3px;
}

.submenu .addNewSeries a {
	background: url('/mods/assets/images/admin/section_new.png') no-repeat 3px;
}

.submenu .addNewVersion a {
	background: url('/mods/assets/images/admin/version_new.png') no-repeat 3px;
}

.submenu .addNewTag a {
	background: url('/mods/assets/images/admin/tag_new.png') no-repeat 3px;
}

.submenu .license_add_new a {
	background: url('/images/admin/mods/administration_license_new.png') no-repeat 3px;
}

.submenu .orphans_remove_all a {
	background: url('/images/admin/mods/cross.png') no-repeat 3px;
}

/* Tag List */
.tagList thead th.name {
	width: 27%;
}

.tagList thead th.friendlyUrl,
.tagList thead th.section {
	width: 25%;
}

.tagList thead th.status {
	width: 20%;
}

.tagList thead th.utility {
	width: 3%;
}

/* Moderate Tag List */
.moderateTagList thead th.name,
.moderateTagList thead th.section {
	width: 46%;
}

.moderateTagList thead th.utility {
	width: 8%;
}

.moderateTagList a.approveTag {
	cursor: pointer;
}

.tagDetailsDialog {
	display: none;
}

/* Version List */
.versionList thead th.name,
.versionList thead th.series {
	width: 35%;
}

.versionList thead th.code {
	width: 27%;
}

.versionList thead th.utility {
	width: 3%;
}

.versionList tbody tr.series {
	font-weight: bold;
	text-align: center;
	background-color: #637788;
	color: #FFFFFF;
}

.versionList tbody tr.series a {
	color: #FFFFFF;
	text-decoration: none;
}

.versionList tbody tr.series a:hover {
	text-decoration: underline;
}
