
.submenu .configuration_general a {
	background: url(/images/admin/configuration_general.png) no-repeat 3px;
}

.submenu .configuration_users a {
	background: url(/images/admin/configuration_users.png) no-repeat 3px;
}

.submenu .users_add_new a {
	background: url(/images/admin/users_new.png) no-repeat 3px;
}

.permissions_list {
list-style: none;
padding: 0;
margin: 0;
}

.permissions_list li {
width: 50%;
float: left;
padding-bottom: 6px;
}
