/* General */
body {
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	background: #EFEFEF url(/assets/images/admin/page_bg.gif) repeat-x;
}

a {
	color: maroon;
}


#container {
	width: 1000px;
	margin: 0 auto;
}

/* Header */

#header {
	height: 80px;
}

#header h1 {
	height: 54px;
	margin: 0;
	color: #FFF;
	font-size: 22px;
	padding: 26px 0 0 0;
	font-weight: normal;
}

#header h1 a {
	text-decoration: none;
	color: #fff;
}

/* Logged In User */
#user_bar {
	position: absolute;
	top: 55px;
	color: #fff;
	width: 790px;
	text-align: right;
}

#user_bar a {
	color: #fff;
}

/* Menu */

#menu {
	height: 30px;
	line-height: 30px;
	border-left: 1px solid #434343;
}

#menu ul {
	margin:0;
	padding:0;
}

#menu li {
	float:left;
	margin:0 5px 0 0;
	padding:0;
	list-style-type:none;
	white-space:nowrap;
	background: #000 url(/assets/images/admin/menu_item.gif) repeat-x; 
}

#menu a {
	display:block;
	padding:0 20px;
	font-size: 14px;
	text-decoration: none;
	color:#fff;
	font-weight: bold;
}

#menu a:hover {
	background: #000 url(/assets/images/admin/menu_over.gif) repeat-x; 
	color:#FFF;
}

#menu li.active a {
	background: #efefef;
	color: #3A93BF; 
}

* html #menu a {
	width:1%;
}

/* Sub Menus */

.submenu {
	margin: 0 0 6px 0;
	padding: 0;
}
.submenu li {
	list-style: none;
	font-size: 13px;
	margin-bottom: 8px;
}

.submenu a {
	padding: 4px 4px 4px 23px;
	color: maroon;
	text-decoration: none;
}

html .submenu a:hover {
	background-color: #C9F8CC;
	color: green;
}

#content .submenu  li {
	float: left;
	margin-right: 4px;
}

/* Content Area */

#content {
	clear: left;
	margin-top: 50px;
	border: 1px solid #ccc;
	padding: 10px 30px;
	background: #fff;
	margin-right: 205px;
	margin-bottom: 10px;
}

* html #content {
	margin-top: 0;
}

/* Side Bar */
#sidebar {
	float: right;
	width: 195px;
	margin-top: 40px;
	padding: 10px 0 10px 0;
}

* html #sidebar, *:first-child+html #sidebar {
	margin-top: 40px;
}

#footer {
	clear: both;
	padding: 10px;
	text-align: center;
	color: #666;
	font-size: 95%;
}


#sidebar_inner {
	padding-left: 15px;
}

#sidebar .box  {
	margin-bottom: 10px;
}

#sidebar .box h3 {
	font-size: 14px;
	margin: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
}

#sidebar .box h4 {
	font-size: 12px;
	margin: 8px 0 5px 0;
}

#sidebar .box .time {
	font-size: 95%;
	color: green;
	font-style: italic;
}
#sidebar .text_box p {
	margin-top: 0;
	margin-left: 12px;
	margin-bottom: 0;
}


/* Headings */

h2 {
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
}

h3 {
	font-size: 18px;
	margin: 0;
}

h4 {
	font-size: 14px;
}

/* Tables */
table.standard_table {
	width: 99%;
	margin-top: 10px;
}


table.standard_table thead th {
	border-bottom: 1px solid #000;
	text-align: left;
	background: #637788;
	padding: 4px;
	color: #fff;
}

table.standard_table tr.alt {
	background: #f6f6f6;
}

table.standard_table tbody td {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
/* Forms */

form {
	border: 0;
	margin: 0;
}

form .form_container, fieldset {
	background: #efefef;
	border: 1px solid #ccc;
	padding: 0.2em 0.7em 0.5em;
	margin-bottom: 1em;
}

/* Fix IE fieldset backgrounds */
* html fieldset {
	position: relative;
	margin-top:1em; 
	padding-top:.75em;
}

legend {
	font-weight: bold;
}

dl, dt, dd {
	border: 0;
	margin: 0;
	padding: 0;
}

dl {
	margin: 0.7em 0 1em 0;
}

dd {
	margin: 0.4em 0 0.9em 0;
}

dt {
	margin-top: 0.9em;
	font-weight: bold;
}


input.textbox {
	border: 1px solid #ccc;
	width: 95%;
	font-size: 1em;
	padding: 0.4em;
	font-size: 16px;
}


input.captcha {
	width: 6em;
}

textarea {
	padding: 0.4em;
	width: 95%;
	font-size: 1em;
	font-family: Verdana;
	border: 1px solid #ccc;
}

div.submit {
	border-top: 2px solid #000;
	padding-top: 0.3em;
	margin-top: 0.4em;
	text-align: center;
}

div.submit input {
	font-size: 1.1em;
	font-weight: bold;
}

input.inline_submit {
	font-weight:  bold;
}

form p.legend {
	margin-bottom: 1em;
}

form p.legend em { 
	color: #C00; font-style: normal;
}

div.form_container label em, fieldset label em {
	font-style: normal;
	color: #C00;
}

div.error {
	margin: 1em 0;
	padding: 0.5em 1em;
/*	border: #FC6 1px solid;*/
	background-color: #FFC;
}

div.error p {
	margin: 0;
}

div.error p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}

.single_line_form {
	padding:  8px;
}

input.display_order_input, input.range_enter {
	width: 4em;
}

input.inline_submit {
	font-weight:  bold;
}

/* Misc */
.clear {
	clear: both;
}

.clear_left {
	clear: left;
}

img {
	border: 0;
}

.invisible {
	display: none;
}

ul.no_list_style {
	list-style: none;
}

ul.small_list_padding {
	padding-left: 19px;
	margin: 0;
}

ul.no_list_padding {
	padding: 0;
	margin: 0;
}

ul.small_list_padding li, 
ul.no_list_padding li {
	margin-bottom: 8px;
}

.reorder_link {
	color: red;
}

.reorder_link_done {
	background: yellow;
	padding: 3px;
	color: red;
}


small {
	font-size: 11px;
}

.sort_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sort_list li {
	margin-bottom: 6px;
}

.sort_list li a{
	background: url(/assets/images/admin/bullet_green.gif) no-repeat;
	padding-left: 23px;
}

.unapproved {
	background: #FBC7C5;
}

/* Dashboard "Things to do" */

.pagination {
	margin-top: 10px;
}

.pagination .pages {
	font-weight: bold;
}


* html h1, * html h2, * html h3, * html h4, * html h5, * html p {
	position: relative;
}

#welcome dd {
	margin-left: 20px;
}

.submenu .reorder_link {
	background: url(/assets/images/admin/reorder_link.gif) no-repeat 3px;
}

.progress_bar {
	height: 11px;
	margin: 2px;
	padding: 0;
	background: #C9DDEC;
}

.progress_bar_border {
	height: 15px;
	width: 205px;
	background: #fff;
	border: 1px solid silver;
	margin: 0;
	padding: 0;
}

.statistics, .server_info {
	float: left;
	width: 47.5%;
	border: 1px solid #ccc;
	padding: 4px;
}

.statistics dt, .server_info dt {
	margin: 0;
}
.statistics dd, .server_info dd {
	margin: 0;
	margin-left: 20px;
}
.server_info {
	float: right;
}

.statistics h3, .server_info h3 {
	font-size: 14px;
	padding-left: 22px;
}

.statistics h3 {
	background: url(/assets/images/admin/statistics.png) no-repeat 0 2px;
}

.server_info h3 {
	background: url(/assets/images/admin/server.png) no-repeat 0 2px;
}

.submenu .system_log a {
	background: url(/assets/images/admin/error_log.png) no-repeat 3px;
}

.error_list, .error_list li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.error_list li {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #efefef;
	padding: 3px;
	margin-bottom: 10px;
}

.error_list dl, .error_list dt, .error_list dd {
	margin: 0;
	padding: 0;
}

.error_list dt {
	width: 100px;
	float: left;
	margin-bottom: 4px;
}

.error_list dd {
	margin-bottom: 4px;
}

select {
	border: 1px solid #ccc;
	font-size: 1.0em;
	font-family: Tahoma, 'Trebuchet MS', Arial, Sans-Serif;
	padding: 0.3em;
}

select option {
	margin-right: 0.4em;
}
