.statistics, .server_info {
	float: left;
	width: 47.5%;
	border: 1px solid #ccc;
	padding: 4px;
}

.statistics dt, .server_info dt {
	margin: 0;
}
.statistics dd, .server_info dd {
	margin: 0;
	margin-left: 20px;
}
.server_info {
	float: right;
}

.statistics h3, .server_info h3 {
	font-size: 14px;
	padding-left: 22px;
}

.statistics h3 {
	background: url(/images/admin/statistics.png) no-repeat 0 2px;
}

.server_info h3 {
	background: url(/images/admin/server.png) no-repeat 0 2px;
}

.submenu .system_log a {
	background: url(/images/admin/error_log.png) no-repeat 3px;
}