br.clear {
	clear: left;
}

#sidebar .box {
	margin-bottom: 20px;
}

/* Additional submenu rows */
.toggleAdditionalSubmenu {
	float: left;
	clear: left;
	cursor: pointer;
}

.submenu a.toggleAdditional {
	cursor: pointer;
	background: url('/mods/assets/images/icons/eye.png') no-repeat 3px;
}

.submenu.additional {
	clear: left;
}

/* Submenu links */
.submenu .tagLink a {
	background: url('/mods/assets/images/icons/tag.png') no-repeat 3px;
}

.submenu .pluginLink a {
	background: url('/mods/assets/images/icons/plugin.png') no-repeat 3px;
}

.submenu .themeLink a {
	background: url('/mods/assets/images/icons/theme.png') no-repeat 3px;
}

.submenu .graphicLink a {
	background: url('/mods/assets/images/icons/graphic.png') no-repeat 3px;
}

.submenu .resourceLink a {
	background: url('/mods/assets/images/icons/resource.png') no-repeat 3px;
}

.submenu a.activeLink {
	background-color: #E3E3E3;
}

/* User Messages */
div.userMessages {
	margin: 0;
	padding: 0;
	border: 0;
}

div.userMessages p {
	padding: 10px;
	margin-bottom: 10px;
}

div.userMessages .error {
	background-color: #F9C8CD;
	color: red;
}

div.userMessages .info {
	background-color: #FEEEBD;
	color: #666666;
}

div.userMessages .success {
	background-color: #C9F8CC;
	color: green;
}

/* New CSS */
.confirmDelete {
	display: none;
}

.approved {
	color: green;
}

.rejected {
	color: red;
}

.awaitingModeration {
	color: #666666;
}

/* Inline form validation */
input.valid {
	border: 1px solid green;
}

input.invalid {
	border: 1px solid red;
}

.inlineValidation {
	display: none;
	padding: 5px 0;
}

.inlineValidation p {
	margin: 0;
	padding: 0;
}

.inlineValidation p.valid {
	color: green;
}

.inlineValidation p.invalid {
	color: red;
}
