<br />
<br />
<fieldset>
<legend><strong>{{ lang.postbit_attachments }}</strong></legend>

{% if attached.thumbs %}

	{% set tcount = 0 %}

	<span class="smalltext"><strong>{{ lang.postbit_attachments_thumbnails }}</strong></span><br />
	{% for thumb in attached.thumbs %}
		{% include 'postbit/postbit_attached_thumbnail.twig' %}
		{% if tcount == 5 %}
			<br />
			{% set tcount = 0 %}
		{% endif %}
		{% set tcount = tcount + 1 %}
	{% endfor %}
	<br />
{% endif %}

{% if attached.images %}
	<span class="smalltext"><strong>{{ lang.postbit_attachments_images }}</strong></span><br />
	{% for image in attached.images %}
		{% include 'postbit/postbit_attached_image.twig' %}
	{% endfor %}
	<br />
{% endif %}

{% for attachment in attached.attachments %}
	{% include 'postbit/postbit_attachment.twig' %}
{% endfor %}

{% if post.showunapproved %}
	<br /><strong>{{ lang.postbit_unapproved_attachment_language }}</strong>
{% endif %}
</fieldset>