.change-avatar {

    .avatar-container {
        float: $right;
        margin: side-values(0 0 var(--spacing-6) var(--spacing-6));
        @include avatar(100);
    }

    .change-avatar__description {
        padding: side-values(0 0 0 var(--spacing-2));
        margin: side-values(0 0 var(--spacing-3) 0);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);
    }
}

.account-dashboard {
    padding: side-values(var(--spacing-5) var(--spacing-5) var(--spacing-5) 136px);
    @include clearfix();

    .avatar-profile-link {
        display: block;
        float: $left;
        margin: side-values(0 0 0 -120px);
        @include avatar(100);
    }
}

.buddy-ignore-list {
    padding: 0;
    margin: 0;
    list-style: none;

    @include bp-small {
        display: flex;
        flex-wrap: wrap;
    }

    &__user {
        box-sizing: border-box;
        padding: var(--spacing-3);
        border-bottom: var(--border-width-base) solid var(--border-color-1);

        @include bp-small {
            width: 50%;
            border: none;
        }

        @include bp-large {
            width: 33%;
        }

        &:last-child {
            border: none;
        }
    }

    &__delete-link {
        float: $right;

        @include bp-small {
            float: none;
            margin-#{$left}: var(--spacing-3);
        }

        &:link,
        &:visited {
            color: var(--alt-font-color-1);
        }

        &:hover {
            color: var(--danger-color);
        }
    }
}

.buddy-request {

    &__username {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__date {
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);
    }
}

.attachment {

    &__icon {

        @include bp-small-max {
            position: absolute;
            top: var(--spacing-4);
            right: var(--spacing-7);
            float: $right;
        }
    }

    &__file,
    &__post {

        @include bp-medium {
            width: 45%;
        }
    }

    &__file-name {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__size-downloads,
    &__date {
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);
    }

    &__post {
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);
    }
}

.draft {

    &__subject {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__location,
    &__date {
        margin: 0;
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);

        a:link,
        a:visited {
            color: var(--alt-font-color-1);
        }
    }
}

.user-group {

    &__name {
        display: inline-block;
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__display-group {
        margin-#{$left}: var(--spacing-3);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);
    }

    &__user-title,
    &__description,
    &__leaders {
        margin: side-values(var(--spacing-2) 0 0 0);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);
    }

    &__message {
        margin: side-values(var(--spacing-2) 0 0 0);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);
    }
}

.join-request {

    &__username {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__reason {
        margin: 0;
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);
    }
}

.security-log {
    $module: &;

    .row__primary,
    .column-headings__column--primary {
        flex-basis: 70%;
    }

    &__info {

        &--activity {

            @include bp-large {
                flex-basis: 60%;
            }
        }

        &--date {

            @include bp-large {
                flex-basis: 40%;
                text-align: center;
            }
        }

        &--ip {

            @include bp-large {
                flex-basis: 30%;
                text-align: center;
            }
        }
    }

    &.row {

        #{$module}__info--date {

            @include bp-large-max {
                font-size: var(--font-size-small);
                color: var(--alt-font-color-2);
            }
        }
    }
}
