.forum {
    padding: 12px 12px;

    @include bp-medium {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
    }

    &__info {
        box-sizing: border-box;
        padding: side-values(5px 0 5px 38px);
    }

    &__status {
        float: $left;
        margin-top: 0px;
        margin-#{$left}: -32px;
        color: $alt-font-color-3;

        &.forum__status--on {
            color: $new-icon-color;
        }
    }

    &__title {
        margin: 0;
        font-size: 1em;
    }

    &__description {
        padding: side-values(6px 0 0 0);
        margin: 0;
        font-size: 0.8em;
        color: $alt-font-color-4;
    }

    &__moderators {
        margin: side-values(6px 0 0 0);
        font-size: 0.8em;
        color: $alt-font-color-2;

        a {
            color: $alt-font-color-1;
        }
    }

    &__subforums {
        padding: 0;
        margin: side-values(6px 0 0 0);
        font-size: 0.8em;
        color: $alt-font-color-1;
        list-style: none;
    }

    &__subforum {
        display: inline-block;
        margin: side-values(0 15px 0 0);

        &__status {
            margin-#{$right}: 3px;
            font-size: 10px;
            color: $alt-font-color-3;

            &.subforum_minion {
                color: $dark-background-2;
            }
        }
    }

    &__stat {
        display: none;
    }

    &__count-legend {
        display: block;
        font-size: 0.7em;
        color: $alt-font-color-3;
        text-transform: lowercase;
    }

    &__count {
        color: $alt-font-color-1;
    }

    &__unapproved-count {
        padding: 1px 4px;
        font-size: 0.7em;
        font-weight: normal;
        color: $status-pending-font-color;
        text-decoration: none;
        background: $status-pending;
        border-radius: 2px;
    }

    &__latest {
        box-sizing: border-box;
        padding: 8px 10px;
        margin-top: 6px;
        margin-#{$left}: 28px;
        background: $background-1;
        border-radius: $radius;

        &--never {
            padding-#{$left}: 10px;
        }

        .avatar-profile-link {
            float: $right;
        }
    }

    &__subject {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
        font-weight: normal;
    }

    &__date,
    &__author {
        display: block;
        margin: 0;
        font-size: 0.8em;
        color: $alt-font-color-2;

        a {
            color: $alt-font-color-1;
        }
    }

    &.forum--highlight {
        background-color: $status-highlight;
        border-color: $status-highlight-border;
    }
}

.forum-list--full-width {

    @include bp-medium {

        .forum {
            flex-direction: row;

            &__info {
                flex: 1 0 40%;
            }

            &__stat {
                display: block;
                flex: 0 0 6%;
                min-width: 90px;
                padding: 10px 0;
                text-align: center;
            }

            &__latest {
                box-sizing: border-box;
                flex: 0 0 28%;
                min-width: 220px;
                max-width: 280px;
                padding: side-values(0 0 0 62px);
                margin: side-values(0 0 0 20px);
                background: transparent;

                .avatar-profile-link {
                    float: $left;
                    margin: side-values(4px 0 0 -62px);
                }

                &--never {
                    padding: 20px 0;
                }
            }

            &--offlink {

                .forum__info {
                    width: 100%;
                }
            }
        }
    }
}

.block--container {

    .forum-list {
        padding: 0 6px;

        .forum:last-child {
            border-bottom: 0;
        }
    }
}
