.forum {
    padding: 12px 12px;

    @include bp-medium {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
    }

    &__info {
        box-sizing: border-box;
        padding: side-values(var(--spacing-2) 0 var(--spacing-2) var(--spacing-7));
    }

    &__status {
        float: $left;
        margin-top: 0;
        margin-#{$left}: calc(-1 * var(--spacing-7));
        color: var(--alt-font-color-3);

        &.forum__status--on {
            color: var(--status-new-icon-color);
        }
    }

    &__title {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__description {
        padding: side-values(var(--spacing-3) 0 0 0);
        margin: 0;
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-1);
    }

    &__moderators {
        margin: side-values(var(--spacing-3) 0 0 0);
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-2);

        a {
            color: var(--alt-font-color-1);
        }
    }

    &__subforums {
        padding: 0;
        margin: side-values(var(--spacing-3) 0 0 0);
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-1);
        list-style: none;
    }

    &__subforum {
        display: inline-block;
        margin: side-values(0 var(--spacing-5) 0 0);

        &__status {
            margin-#{$right}: var(--spacing-2);
            font-size: var(--font-size-smallest);
            color: var(--alt-font-color-3);

            &.subforum_minion {
                color: var(--status-new-icon-color);
            }
        }
    }

    &__stat {
        display: none;
    }

    &__count-legend {
        display: block;
        font-size: var(--font-size-smallest);
        color: var(--alt-font-color-3);
        text-transform: lowercase;
    }

    &__count {
        color: var(--alt-font-color-1);
    }

    &__unapproved-count {
        padding: 1px 4px;
        font-size: var(--font-size-smallest);
        font-weight: normal;
        color: var(--status-pending-font-color);
        text-decoration: none;
        background: var(--status-deleted-background-color);
        border-radius: calc(var(--border-radius) / 2);
    }

    &__latest {
        box-sizing: border-box;
        padding: var(--spacing-3) var(--spacing-4);
        margin-top: var(--spacing-3);
        margin-#{$left}: var(--spacing-6);
        background: var(--background-1);
        border-radius: var(--border-radius);

        &--never {
            padding-#{$left}: var(--spacing-4);
        }

        .avatar-profile-link {
            float: $right;
        }
    }

    &__subject {
        display: block;
        padding: 0;
        margin: 0;
        font-size: var(--font-size-small);
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__date,
    &__author {
        display: block;
        margin: 0;
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-2);

        a {
            color: var(--alt-font-color-1);
        }
    }

    &.forum--highlight {
        background-color: var(--status-highlight-background-color);
        border-color: var(--status-highlight-border-color);
    }
}

.forum-list--full-width {

    @include bp-medium {

        .forum {
            flex-direction: row;

            &__info {
                flex: 1 0 40%;
            }

            &__stat {
                display: block;
                flex: 0 0 6%;
                min-width: 90px;
                padding: var(--spacing-3) 0;
                text-align: center;
            }

            &__latest {
                box-sizing: border-box;
                flex: 0 0 28%;
                min-width: 220px;
                max-width: 280px;
                padding: side-values(0 0 0 62px);
                margin: side-values(0 0 0 20px);
                background: transparent;

                .avatar-profile-link {
                    float: $left;
                    margin: side-values(4px 0 0 -62px);
                }

                &--never {
                    padding: 20px 0;
                }
            }

            &--offlink {

                .forum__info {
                    width: 100%;
                }
            }
        }
    }
}

.block--container {

    .forum-list {
        padding: 0 var(--spacing-3);

        .forum:last-child {
            border-bottom: 0;
        }
    }
}
