.add-poll {

    .poll-option {
        padding-#{$right}: var(--spacing-6);
    }

    .remove-option {
        float: #{$right};
        margin: side-values(var(--spacing-2) calc(-1 * var(--spacing-6)) 0 0);
        color: var(--danger-color);
    }
}

.poll {
    margin-bottom: var(--spacing-6);

    &__question {

    }

    &__tag {
        display: inline-block;
        float: $right;
        padding: 0 var(--spacing-3);
        margin-#{$right}: calc(-1 * var(--spacing-2));
        font-size: var(--font-size-smallest);
        font-weight: normal;
        text-transform: uppercase;
        border: var(--border-width-base) solid var(--invert-color);
        border-radius: var(--border-radius);
    }

    &__options {
        padding: 0;
    }

    &__row {
        padding: var(--spacing-3) var(--spacing-4);
        border-bottom: var(--border-width-base) solid var(--border-color-3);

        &--cast-vote {
            padding: 0;

            .poll__input {
                float: $left;
                margin: side-values(6px 0 0 -26px);
            }

            label {
                display: block;
                padding: side-values(10px 12px 12px 40px);
                cursor: pointer;
            }
        }

        &--information {
            font-size: var(--font-size-small);
            color: var(--alt-font-color-1);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__your-vote {
        margin-#{$left}: var(--spacing-2);
        color: var(--primary-color);
    }

    &__option {
        float: $left;
        margin-bottom: var(--spacing-3);
    }

    &__votes {
        position: relative;
        box-sizing: border-box;
        height: var(--spacing-6);
        margin: var(--spacing-3) 0;
        clear: both;
        background: var(--background-1);
        border-radius: var(--border-radius);
    }

    &__bar {
        position: absolute;
        top: 0;
        #{$left}: 0;
        bottom: 0;
        z-index: 1;
        box-sizing: border-box;
        background: var(--primary-color);
        border-radius: var(--border-radius);
    }

    &__count {
        float: $right;
        font-size: var(--font-size-small);
    }

    &__vote {
        padding: var(--spacing-3) var(--spacing-4);
        background: var(--background-2);
        border-radius: var(--border-radius);
        @include clearfix();
    }

    &__total {
        float: $right;
        margin: side-values(var(--spacing-3) 0 var(--spacing-3) var(--spacing-3));
    }

    // TODO: confirm this styling is needed or if template needs updated
    &__end-date {
        padding: var(--spacing-2) var(--spacing-5) 0 var(--spacing-5);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);

        i {
            margin-right: 5px;
            color: var(--alt-font-color-2);
        }
    }

    // TODO: confirm this styling is needed or if template needs updated
    &__closed {
        display: inline-block;
        padding: var(--spacing-2) var(--spacing-4);
        margin: var(--spacing-2);
        color: var(--invert-font-color);
        background: var(--danger-color);
        border-radius: var(--border-radius);

        i {
            margin-right: 2px;
        }
    }
}
