.profile {

    &__header.page-header {
        display: flex;
        gap: var(--spacing-5);
        padding-bottom: var(--spacing-5);
        margin-bottom: var(--spacing-6);

        .avatar-profile-link {
            @include avatar(100);
        }
    }

    &__username,
    &__usertitle {
        margin: var(--spacing-1) 0;
    }
}

.profile-field {
    font-size: var(--font-size-small);

    &__name {
        padding: 0;
        margin: 0;
        font-weight: var(--font-weight-semibold);
    }

    &__value {
        padding: 0;
        margin: 0;
    }
}
