.profile {

    &__header {
        @include clearfix();
        position: relative;
        margin-bottom: var(--spacing-6);

        .avatar {
            float: $left;
            width: 100px;
            height: 100px;
            margin-#{$right}: var(--spacing-5);
            margin-bottom: var(--spacing-5);
        }
    }

    .page-controls {
        margin-top: calc(-1 * var(--spacing-4));

        @include bp-medium-max {
            margin-#{$left}: calc(-1 * var(--spacing-2));
            margin-#{$right}: calc(-1 * var(--spacing-2));
        }
    }

    &__username,
    &__usertitle {
        margin: var(--spacing-2) 0;
    }
}

.profile-field {
    font-size: var(--font-size-small);

    &__name {
        padding: 0;
        margin: 0;
        font-weight: 600;
    }

    &__value {
        padding: 0;
        margin: 0;
    }
}
