.redirect {
    min-width: 300px;
    margin: side-values(100px auto 0 auto);

    &__title {
        margin: 0;
        font-family: var(--heading-font-stack);
        font-size: var(--font-size-larger);
        font-weight: bold;
    }

    &__message {
        padding: var(--spacing-6);
        margin: var(--spacing-3) 0;
        background: var(--background-1);
        border-radius: var(--border-radius);
    }

    &__link {
        font-size: var(--font-size-small);
        text-align: center;
    }
}
