.reputation-summary {
    display: flex;
    flex-direction: column;

    @include bp-medium {
        flex-direction: row;
        justify-content: space-between;
    }

    &__block {

        &--stats {
        }

        &--counts {

            @include bp-medium-max {
                padding-top: 20px;
                margin-top: 20px;
                border-top: var(--border-width-thick) solid var(--border-color-1);
            }
        }
    }
}

.reputation-table {
    font-size: var(--font-size-small);

    &__row {

        .reputation-table__cell {
            border-bottom: var(--border-width-base) solid var(--border-color-1);
        }

        &--header {

        }

        &--footer {

            .reputation-table__cell {
                border-bottom: 0;
            }
        }

    }

    &__cell {
        padding: var(--spacing-2) var(--spacing-3);

        &--legend {
            color: var(--alt-font-color-2);
            text-align: $right;
        }

        &--count {
            text-align: center;
        }
    }
}

.reputation-ratings {
    margin-top: var(--spacing-3);
}

.reputation-rating {
    padding: side-values(0 0 var(--spacing-3) 0);
    margin-bottom: var(--spacing-4);
    line-height: 1.4;
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);

    &__meta {
        padding: var(--spacing-3) var(--spacing-4);
        background: var(--background-1);
        border-radius: corner-values(var(--border-radius) var(--border-radius) 0 0);
    }

    &__user-rep {
        font-size: var(--font-size-smaller);
    }

    &__date {
        display: block;
        margin-top: var(--spacing-2);
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-1);

        @include bp-medium {
            float: $right;
            margin-top: var(--spacing-1);
        }
    }

    &__link {
        display: block;
        margin-top: var(--spacing-2);
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-2);

        a:link,
        a:visited {
            color: var(--alt-font-color-1);
        }

        a:hover,
        a:active {
            color: var(--alt-font-color-1);
            text-decoration: underline;
        }
    }

    &__comment {
        padding: var(--spacing-4);
    }

    &__controls {
        padding: 0 var(--spacing-4);
        text-align: $right;
    }

}
