.reputation-summary {
    display: flex;
    flex-direction: column;

    @include bp-medium {
        flex-direction: row;
        justify-content: space-between;
    }

    &__block {

        &--counts {

            @include bp-medium-max {
                padding-top: var(--spacing-5);
                margin-top: var(--spacing-5);
                border-top: var(--border-width-thick) solid var(--border-color-1);
            }
        }
    }
}

.reputation-table {
    font-size: var(--font-size-small);

    &__row {

        .reputation-table__cell {
            border-bottom: var(--border-width-base) solid var(--border-color-1);
        }

        &--header {

        }

        &--footer {

            .reputation-table__cell {
                border-bottom: 0;
            }
        }

    }

    &__cell {
        padding: var(--spacing-2) var(--spacing-3);

        &--legend {
            color: var(--alt-font-color-2);
            text-align: $right;
        }

        &--count {
            text-align: center;
        }
    }
}

.reputation-rating {
    padding: side-values(0 0 var(--spacing-3) 0);
    margin-bottom: var(--spacing-5);
    line-height: var(--line-height-small);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);

    &:last-child {
        margin-bottom: 0;
    }

    &__meta {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "user user-rep"
            "date date";
        gap: var(--spacing-2) var(--spacing-3);
        align-items: center;
        padding: var(--spacing-3) var(--spacing-4);
        background: var(--background-1);
        border-bottom: var(--border-width-base) solid var(--border-color-3);
        border-radius: corner-values(var(--border-radius) var(--border-radius) 0 0);

        @include bp-medium {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:
                "user user-rep date";
        }

        &:has(.reputation-rating__link) {
            grid-template-areas:
                "user user-rep"
                "link link"
                "date date";

            @include bp-medium {
                grid-template-areas:
                    "user user-rep date"
                    "link link link";
            }
        }
    }

    &__user {
        grid-area: user;
    }

    &__user-rep {
        grid-area: user-rep;
        font-size: var(--font-size-smaller);
    }

    &__date {
        grid-area: date;
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-1);
    }

    &__link {
        grid-area: link;
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-2);

        a:link,
        a:visited {
            color: var(--alt-font-color-1);
        }

        a:hover,
        a:active {
            color: var(--alt-font-color-1);
        }
    }

    &__comment {
        padding: var(--spacing-4);
    }

    &__controls {
        padding: 0 var(--spacing-4);
        text-align: $right;
    }
    
    &__rating {

        &--positive {
            color: var(--success-color);
        }

        &--negative {
            color: var(--danger-color);
        }
    }

}
