.smilie-list {

    &__legend {

        .smilie-list__name {
            margin-#{$left}: var(--spacing-7);
        }
    }

    &__item {
        .smilie-list__smilie {
            flex: 0 0 50px;
            min-width: 50px;
            text-align: center;
        }

        .smilie-list__name {
            flex: 1 0 auto;
            margin-#{$left}: var(--spacing-4);
        }

        .smilie-list__replace {
            flex: 1 0 auto;
            text-align: $right;

            &--no-name {
                margin-#{$left}: var(--spacing-4);
                text-align: $left;
            }
        }
    }
}
