.editor_control_bar {
    @extend .container;
    display: none;
    margin: var(--spacing-2);
    font-size: var(--font-size-small);

    &__title {
        margin: side-values(0 0 var(--spacing-2) 0);
        font-size: var(--font-size-small);
        font-weight: normal;
        color: var(--alt-font-color-1);

        @include bp-medium {
            margin: 0;
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-4);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-3);

        @include bp-small-max {
            display: none;
        }
    }

    &__buttons {
        margin: side-values(0 calc(-1 * var(--spacing-2)) 0 calc(-1 * var(--spacing-2)));
    }

    &--quick-reply {
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        bottom: calc(-1 * var(--spacing-2));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-4) var(--spacing-5);
        margin: side-values(0 0 var(--spacing-5) 0);
        background: var(--background-default);
        border: var(--border-width-base) solid var(--border-color-3);
        border-top: var(--border-width-page-header) solid var(--primary-color);

        @include bp-small {
            margin-#{$left}: $avatar-margin-small;
        }

        @include bp-medium {
            flex-direction: row;
            margin-#{$left}: $avatar-margin-medium;
        }
    }
}

.thread-actions {
    flex-direction: column;

    @include bp-medium {
        flex-direction: row;
    }
}

.thread-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-5);

    @include bp-medium {
        justify-content: flex-end;
        margin-top: 0;
    }
}

.threaded-mode {

    &__post {
        padding: var(--spacing-3);
        border-bottom: var(--border-width-base) solid var(--border-color-3);

        &--active {

            .threaded-mode__date {
                font-weight: bold;
            }
        }
    }

    &__author {
        margin-#{$left}: var(--spacing-3);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-2);

        a {
            color: var(--alt-font-color-1);
        }
    }
}
