.user-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: var(--spacing-6);

    @include bp-medium {
        flex-direction: row;
    }

    &--has-title {
        padding-top: var(--spacing-5);
    }

    &--has-footer {
        margin-bottom: 0;
    }

    &__user {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: var(--spacing-4);
        margin: side-values(0 0 var(--spacing-5) 0);
        border: var(--border-width-base) solid var(--border-color-1);
        border-radius: var(--border-radius);

        @include bp-medium {
            width: 49%;
        }
    }

    &--single-column {

        .user-list__user {
            width: 100%;
        }
    }

    .avatar-profile-link {
        float: $left;
        margin: side-values(0 var(--spacing-5) 0 0);
    }

    &__checkbox {
        position: absolute;
        top: var(--spacing-3);
        right: var(--spacing-4);
    }

    &__username {
        margin: 0;
        font-size: var(--font-size-large);
    }

    &__user-info {
        margin-#{$left}: var(--spacing-3);
        font-size: var(--font-size-smaller);
        font-weight: normal;
        color: var(--alt-font-color-2);
    }

    &__shortcut {
        float: $right;
    }

    &__user-title {
        margin: 0;
        font-size: var(--font-size-small);
        font-weight: normal;
    }

    &__data {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-smaller);
        color: var(--alt-font-color-2);

        a {
            color: var(--alt-font-color-1);
        }
    }

    &__buttons {
        margin-top: var(--spacing-2);
    }

    .team-badge {
        position: relative;
        float: right;
        margin: side-values(-48px 0 0 0);
    }

    &--compact {

        .user-list__user {
            padding: var(--spacing-3);

            .avatar-profile-link {
                margin-#{$right}: var(--spacing-4);
            }
        }

        .user-list__username {
            font-size: var(--font-size-regular);
        }

        .alert--no-results {
            padding: var(--spacing-4) 0;
            font-size: var(--font-size-regular);
        }
    }
}

.list--user {
    font-size: var(--font-size-smaller);
}

.user-alphabet {

    &__letter {
        padding: var(--spacing-2);
        margin-#{$right}: var(--spacing-2);
    }
}

.team-badge {
    display: inline;
    padding: var(--spacing-1) var(--spacing-3);
    font-size: var(--font-size-smallest);
    line-height: var(--line-height-large);
    color: var(--alt-font-color-1);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);
}
