.alert {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--spacing-4);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-5);
    font-size: var(--font-size-small);
    background-color: var(--background-1);
    border-radius: var(--border-radius);

    &__message {
        flex-grow: 1;
        padding: 0;
        margin: 0;
    }

    &__icon {
        margin-top: var(--spacing-2);
        margin-#{$right}: var(--spacing-4);
        color: var(--alt-font-color-1);
    }

    &__dismiss {
        float: $right;
        font-size: var(--font-size-regular);

        &__link {

            &:link,
            &:visited {
                color: var(--danger-color);
            }

            &:hover {
                color: var(--alt-font-color-1);
            }
        }
    }

    &__title {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__description {
        margin: 0;
    }

    &__list {
        margin: var(--spacing-4) 0;
    }

    &--danger {
        color: var(--invert-font-color);
        background-color: var(--danger-color);

        :link,
        :visited,
        .alert__icon {
            color: var(--invert-font-color);
        }
    }

    &--pending {
        color: var(--status-pending-font-color);
        background-color: var(--status-pending-background-color);

        :link,
        :visited,
        .alert__icon {
            color: var(--status-pending-font-color);
        }
    }

    &--success {
        color: var(--invert-font-color);
        background-color: var(--success-color);

        :link,
        :visited,
        .alert__icon {
            color: var(--invert-font-color);
        }
    }

    &--no-results {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: var(--spacing-7) var(--spacing-6);
        margin: 0;
        font-size: var(--font-size-large);
        color: var(--alt-font-color-1);
        text-align: center;
        background: none;

        &.alert--no-results-container {
            background: var(--background-1);
        }
    }

    &--aligned-block {
        text-align: $left;
    }
}
