.alert {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-6);
    font-size: var(--font-size-small);
    background: var(--background-default);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);
    @include box-shadow;

    &__message {
        flex-grow: 1;
        padding: 0;
        margin: 0;
    }

    &__icon {
        margin-top: var(--spacing-1);
        margin-#{$right}: var(--spacing-4);
        font-size: var(--font-size-large);
        color: var(--alt-font-color-1);
    }

    &__dismiss {
        font-size: var(--font-size-regular);

        &__link {

            &:link,
            &:visited {
                color: var(--danger-color);
            }

            &:hover {
                color: var(--alt-font-color-1);
            }
        }
    }

    &__title {
        margin: 0;
        font-size: var(--font-size-regular);
    }

    &__description {
        margin: 0;
    }

    &__list {
        margin: var(--spacing-4) 0;
    }

    &--danger {
        border-top: var(--border-width-page-header) solid var(--danger-color);

        :link,
        :visited,
        .alert__icon {
            color: var(--danger-color);
        }
    }

    &--pending {
        border-top: var(--border-width-page-header) solid var(--status-pending-border-color);
        color: var(--status-pending-font-color);
        
        :link,
        :visited,
        .alert__icon {
            color: var(--status-pending-font-color);
        }
    }

    &--success {
        border-top: var(--border-width-page-header) solid var(--success-color);

        :link,
        :visited,
        .alert__icon {
            color: var(--success-color);
        }
    }
}

.no-results {
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--alt-font-color-1);

    &,
    &.container--no-results,
    &.row--no-results {
        box-sizing: border-box;
        width: 100%;
        padding: var(--spacing-7) var(--spacing-6);
    }

    &--aligned-block {
        text-align: $left;
    }

    &--compact {
        padding: var(--spacing-4) 0;
        font-size: var(--font-size-regular);
    }
}