@mixin avatar-size($size) {
    width: #{$size}px;
    height: #{$size}px;

    .avatar__image {
        width: #{$size}px;
        height: #{$size}px;
    }

    $icon-size: $size/2;

    .avatar__icon {
        font-size: #{$icon-size}px;
    }

    $initial-size: $size/1.9;

    .avatar__initial {
        font-size: #{$initial-size}px;
    }
}

.avatar-profile-link {
    display: inline-block;
}

.avatar {
    border-radius: var(--border-radius);

    &--smallest {
        @include avatar-size(40);
    }

    &--small {
        @include avatar-size(50);
    }

    &--medium {
        @include avatar-size(80);
    }

    &--large {
        @include avatar-size(100);
    }

    &--largest {
        @include avatar-size(160);
    }

    &--default {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-3);

        &[data-avatar-color] {
            background: var(--default-avatar-color, var(--background-3));
        }

        @supports (background: attr(data-avatar-color, #000)) {
            &[data-avatar-color] {
                background: attr(data-avatar-color, var(--default-avatar-color, var(--background-3)));
            }
        }
    }

    &__initial {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: var(--invert-font-color);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        &::before {
            content: attr(data-avatar-initial);
        }
    }

    &__icon {
        color: var(--alt-font-color-3);
    }

    &__image {
        border-radius: var(--border-radius);
        height: 100%;
        width: 100%;
    }
}
