
.board-statistics {
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);

    &__section {
        position: relative;
        padding: side-values(var(--spacing-5) var(--spacing-4) var(--spacing-5) var(--spacing-8));
        border-bottom: var(--border-width-base) solid var(--border-color-1);

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        padding: side-values(0 0 var(--spacing-2) 0);
        margin: 0;
        font-family: var(--heading-font-stack);
    }

    &__icon {
        position: absolute;
        left: var(--spacing-5);
        margin-top: var(--spacing-2);
        color: var(--alt-font-color-2);
    }

    &__body {
        margin: 0;
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);

        &--users {
            margin-top: var(--spacing-3);
        }

        &--groups {
            margin-top: var(--spacing-3);
            padding: var(--spacing-3) var(--spacing-4);
            font-size: var(--font-size-smaller);
            line-height: normal;
            background: var(--background-1);
            border-radius: var(--border-radius);
        }
    }
}