.breadcrumb {
    display: block;
    padding: 0;
    margin-bottom: var(--spacing-3);
    font-size: var(--font-size-smaller);
    color: var(--alt-font-color-3);

    &__link {

        &:link,
        &:visited {
            color: var(--alt-font-color-1);
            text-decoration: none;
        }

        &:hover {

            .breadcrumb__text {
                color: var(--link-hover-color);
            }
        }
    }

    &__separator {
        margin: 0 var(--spacing-3);
    }

    &__caret {
        display: inline-block;
        padding: side-values(0 var(--spacing-1) 0 var(--spacing-2));
        font-size: var(--font-size-regular);
        color: var(--link-default-color);

        &:hover {
            cursor: pointer;
            color: var(--link-hover-color);
        }
    }

    &__active {
        @include visually-hidden;
    }
}
