.button {
    --button-theme-color-background: var(--button-default-color);
    --button-theme-color-text: var(--invert-font-color);
    --button-theme-color-border: var(--button-theme-color-background);
    --button-theme-color-hover: var(--button-hover-color);
    --button-theme-color-text-hover: var(--invert-font-color);
    --button-theme-color-border-hover: var(--button-theme-color-hover);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-3) var(--spacing-4);
    margin: var(--spacing-2);
    font-size: var(--font-size-regular);
    line-height: normal;
    border: var(--border-width-base) solid;
    border-radius: var(--border-radius);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    &,
    &:link,
    &:visited {
        color: var(--button-theme-color-text);
        background-color: var(--button-theme-color-background);
        border-color: var(--button-theme-color-border);
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
        outline: none;
        color: var(--button-theme-color-text-hover);
        background-color: var(--button-theme-color-hover);
        border-color: var(--button-theme-color-border-hover);
    }

    &__icon {
        margin-#{$right}: var(--spacing-3);

        &.button__icon--after {
            margin-#{$right}: 0;
            margin-#{$left}: var(--spacing-3);
        }
    }

    &--secondary {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--link-default-color);
        --button-theme-color-border: var(--border-color-1);
        --button-theme-color-hover: var(--background-default);
        --button-theme-color-text-hover: var(--link-hover-color);
        --button-theme-color-border-hover: var(--border-color-1);
    }

    &--invert {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--link-default-color);
        --button-theme-color-border: var(--background-default);
        --button-theme-color-hover: var(--background-default);
        --button-theme-color-text-hover: var(--link-hover-color);
        --button-theme-color-border-hover: var(--background-default);
    }

    &--danger {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--danger-color);
        --button-theme-color-border: var(--border-color-1);
        --button-theme-color-hover: var(--danger-color);
    }

    &--danger.button--secondary {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--link-default-color);
        --button-theme-color-border: var(--border-color-1);
        --button-theme-color-hover: var(--danger-color);
        --button-theme-color-text-hover: var(--invert-font-color);
        --button-theme-color-border-hover: var(--danger-color)
    }

    &--success {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--success-color);
        --button-theme-color-border: var(--border-color-1);
        --button-theme-color-hover: var(--success-color);
    }

    &--success.button--secondary {
        --button-theme-color-background: var(--background-default);
        --button-theme-color-text: var(--link-default-color);
        --button-theme-color-border: var(--border-color-1);
        --button-theme-color-hover: var(--success-color);
        --button-theme-color-text-hover: var(--invert-font-color);
        --button-theme-color-border-hover: var(--success-color);
    }

    &--basic {
        --button-theme-color-background: transparent;
        --button-theme-color-text: var(--alt-font-color-1);
        --button-theme-color-border: transparent;
        --button-theme-color-hover: transparent;
        --button-theme-color-text-hover: var(--link-hover-color);
        
        padding: var(--spacing-3);
        margin: 0 var(--spacing-2);
    }

    &--inline {
        padding: var(--spacing-2) var(--spacing-3);
        margin: side-values(0 0 0 var(--spacing-2));
        font-size: var(--font-size-regular);
        vertical-align: top;
    }

    @include bp-medium-max {

        &--full-width {
            box-sizing: border-box;
            width: 100%;
            padding: var(--spacing-3) var(--spacing-4);
            margin: var(--spacing-2) 0;
        }

        &--half-width {
            box-sizing: border-box;
            float: $left;
            width: 49%;
            padding: var(--spacing-3) var(--spacing-4);

            &:nth-child(odd) {
                margin-#{$left}: 0;
                margin-#{$right}: 1%;
            }

            &:nth-child(even) {
                margin-#{$left}: 1%;
                margin-#{$right}: 0;
            }
        }
    }

    &--small {
        padding: var(--spacing-2) var(--spacing-3);
        margin: side-values(0 var(--spacing-2) 0 0);
        font-size: var(--font-size-small);
        vertical-align: top;
    }

    &--medium {
        padding: var(--spacing-3) var(--spacing-4);
        font-size: var(--font-size-regular);
    }

    &--big {
        padding: var(--spacing-3) var(--spacing-5);
        font-size: var(--font-size-large);

        .button__icon {
            margin-#{$right}: var(--spacing-4);
        }
    }
}
