.form {
    margin-bottom: var(--spacing-7);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);

    &--alt {
        background-color: var(--background-2);
        border: none;
    }

    &--modal {
        margin-bottom: 0;
        border: none;
    }

    &--delete {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-5) var(--spacing-4);
        margin-bottom: var(--spacing-7);

        .form__submit {
            background: none;
        }
    }

    .buttons {
        margin: calc(-1 * var(--spacing-1));
    }

    &__submit {
        padding: var(--spacing-4) 0;
        text-align: center;
        background: var(--background-1);
        border-radius: corner-values(0 0 var(--border-radius) var(--border-radius));

        &:first-child {
            border-radius: var(--border-radius);
        }
    }
}

.inline-form {

    .textbox,
    .select-field,
    .button {
        margin: var(--spacing-1);
    }
}
