.form {
    
    &--alt {
        background-color: var(--background-2);
    }

    &--modal {
        margin-bottom: 0;
        border: none;
    }

    &--delete {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-5) var(--spacing-4);
        margin-bottom: var(--spacing-7);

        .form__submit {
            background: none;
        }
    }

    .buttons {
        margin: calc(-1 * var(--spacing-1));
    }

    &__submit {
        @extend .block__footer;
        padding: var(--spacing-4) 0;

        // TODO: confirm this isn't needed anywhere
        // &:first-child {
        //     border-radius: var(--border-radius);
        // }
    }
}

.inline-form {

    .textbox,
    .select-field,
    .button {
        margin: var(--spacing-1);
    }
}

.compact-form {
    line-height: 0;
}