.latest-threads {

    &__title {
        margin: 0;
        font-size: var(--font-size-large);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__forum,
    &__last-post,
    &__stats {
        margin: 0;
        font-size: var(--font-size-small);
        line-height: 22px;
        color: var(--alt-font-color-2);

        a:link,
        a:visited {
            color: var(--alt-font-color-1);
        }
    }

    &__author {

        &:after {
                content: ",";
        }
    }
}
