.list {

    &--stats {
        display: table-cell;
        padding: 0;
        margin: 0;
        font-size: var(--font-size-small);
        line-height: var(--line-height-large);
        list-style: none;

        .list__field {
            margin-#{$right}: var(--spacing-2);
            color: var(--alt-font-color-2);

            &:after {
                content: ":";
            }
        }
    }

    &--divided {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;

        .list__item {
            padding: var(--spacing-2) 0;
            border-bottom: var(--border-width-base) solid var(--border-color-3);

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &--rows {

        .list__item {
            padding: var(--spacing-3) var(--spacing-4);
        }
    }
}
