.page-tabs {
    padding: side-values(var(--spacing-3) var(--spacing-3) 0 var(--spacing-3));
    margin: side-values(0 0 var(--spacing-5) 0);
    list-style: none;
    background: var(--background-1);
    border-radius: var(--border-radius);

    &__item {
        display: inline-block;
        margin: side-values(0 var(--spacing-3) var(--spacing-3) 0);

        &--active {

            .page-tabs__link {
                font-weight: bold;
                color: var(--invert-font-color);
                text-decoration: none;
                background: var(--button-default-color);
            }
        }
    }

    &__link {
        display: inline-block;
        padding: var(--spacing-2) var(--spacing-3);
        background: var(--background-1);
        border-radius: var(--border-radius);

        &:hover {
            color: var(--invert-font-color);
            text-decoration: none;
            background: var(--link-hover-color);
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-2);
    }
}
