.block {
    margin-bottom: var(--spacing-7);

    &__content {
        padding: var(--spacing-3) 0;
    }

    &--container {
        padding: var(--spacing-5);
        border: var(--border-width-base) solid var(--border-color-1);
        border-radius: var(--border-radius);

        .sort-results {
            border-width: 0;
            border-top-width: var(--border-width-thick);
        }
    }

    &--sidebar {
        padding: var(--spacing-4) var(--spacing-5);
        border: var(--border-width-base) solid var(--border-color-1);
        border-radius: var(--border-radius);

        &.block--form {
            padding: side-values(var(--spacing-4) 0 0 0);

            .title--sidebar {
                margin: 0 var(--spacing-5);
            }

            .section--form {
                padding: var(--spacing-5);
            }
        }
    }

    &--modal {
        margin-bottom: 0;

        .block__content {
            padding: var(--spacing-3) var(--spacing-4);

            &--text {
                padding: var(--spacing-5) var(--spacing-4);
            }
        }
    }

    &__body {
        padding: var(--spacing-4);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__footer-link {
        @extend .container;
        padding: var(--spacing-3);
        text-align: center;

        a:link,
        a:hover,
        a:active {
            text-decoration: none;
        }

        .icon {
            margin-#{$right}: var(--spacing-2);
        }
    }
}

.section {
    @include clearfix();
    padding: var(--spacing-4) var(--spacing-3);
    border-bottom: var(--border-width-base) solid var(--border-color-1);

    @include bp-medium {
        padding: var(--spacing-6) var(--spacing-4);
    }

    &:last-child {
        border-bottom: 0;
    }

    &__container {

        @include bp-medium {
            float: $left;
            box-sizing: border-box;
            width: 74%;
            padding: side-values(0 0 0 var(--spacing-6));
            margin: side-values(0 0 0 3%);
            border-#{$left}: var(--border-width-base) dotted var(--border-color-2);
        }
    }

    &--inline {
        padding: side-values(var(--spacing-2) 0 var(--spacing-2) var(--spacing-5));
        margin-top: 10px;
        border-bottom: 0;
        border-left: var(--border-width-thick) solid var(--border-color-1);
    }
}

.container {
    @include container;

    &--simple-columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include bp-small {
            flex-direction: row;
            align-items: center;
        }
    }
}

.page-controls {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-4);

    &--top {
        margin-top: calc(-1 * var(--spacing-4));

        .pagination {
            margin-bottom: 0;
        }
    }

    &--bottom {
        margin-top: calc(-1 * var(--spacing-2));
        margin-bottom: var(--spacing-6);
    }

    @include bp-medium {
        flex-direction: row;

        .page-buttons {
            order: 2;
            margin-#{$left}: auto;
            margin-#{$right}: calc(-1 * var(--spacing-2));
        }
    }
}

.board-statistics {
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);

    &__section {
        padding: side-values(var(--spacing-5) var(--spacing-4) var(--spacing-5) var(--spacing-8));
        border-bottom: var(--border-width-base) solid var(--border-color-1);

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        padding: side-values(0 0 var(--spacing-2) 0);
        margin: 0;
        font-family: var(--heading-font-stack);
        font-weight: normal;
        border-bottom: var(--border-width-base) solid var(--border-color-3);
    }

    &__icon {
        float: $left;
        margin-top: var(--spacing-2);
        margin-#{$left}: calc(-1 * var(--spacing-7));
        color: var(--alt-font-color-2);
    }

    &__body {
        margin-top: var(--spacing-4);
        margin-bottom: 0;
        font-size: var(--font-size-small);

        &--active-note {
            padding-bottom: var(--spacing-3);
            margin-bottom: var(--spacing-3);
            color: var(--alt-font-color-1);
            border-bottom: var(--border-width-base) solid var(--border-color-3);

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

@include bp-large {

    .simple-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__item {
            width: 48%;
        }
    }
}


.page-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp-large {
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        box-sizing: border-box;
        width: 100%;
        margin: 0;

        @extend .inline-form;

        &:first-child {
            margin-bottom: var(--spacing-5);

            @include bp-large {
                margin-bottom: 0;
            }
        }

        @include bp-large {
            width: auto;
        }
    }
}
