.block {
    box-sizing: border-box;
    margin-bottom: var(--spacing-6);
    background: var(--background-default);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);
    @include box-shadow;

    &__header {
        padding: var(--spacing-3) calc(var(--spacing-5) + var(--border-width-base));
        margin: side-values(calc(-1 * var(--border-width-base)) calc(-1 * var(--border-width-base)) 0 calc(-1 * var(--border-width-base)));
        color: var(--invert-font-color);
        background: var(--major-title-background);
        border: 0;
        border-radius: corner-values(var(--border-radius) var(--border-radius) 0 0);

        &--simple-columns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include bp-small {
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &.collapse--collapsed {

        .block__header,
        .title--major {
            margin: calc(-1 * var(--border-width-base));
            border-radius: var(--border-radius);
        }
    }

    &__content {
        padding: var(--spacing-3) 0;
    }

    &__body {
        padding: var(--spacing-4);
        border-bottom: var(--border-width-base) solid var(--border-color-1);
    }

    &__footer {
        padding: var(--spacing-3) var(--spacing-5);
        text-align: center;
        background: var(--background-2);
        border-radius: corner-values(0 0 calc(var(--border-radius) - var(--border-width-base)) calc(var(--border-radius) - var(--border-width-base)));
    }

    &--container {
        padding: var(--spacing-3) var(--spacing-5);

        .sort-results {
            border-width: 0;
            border-top-width: var(--border-width-thick);
        }
    }

    &--sidebar {
        padding: var(--spacing-3) var(--spacing-4);
        border: var(--border-width-base) solid var(--border-color-1);
        border-radius: var(--border-radius);

        &.block--form {
            padding: side-values(var(--spacing-4) 0 0 0);

            .title--sidebar {
                margin: 0 var(--spacing-5);
            }

            .section--form {
                padding: var(--spacing-5);
            }
        }
    }

    &--modal {
        margin-bottom: 0;

        .block__content {
            padding: var(--spacing-3) var(--spacing-4);

            &--text {
                padding: var(--spacing-5) var(--spacing-4);
            }
        }
    }

    > :last-child {
        border-bottom: none;
    }
}

.block-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3);

    &--extra-space {
        padding-top: var(--spacing-4);
        padding-bottom: var(--spacing-4);
    }

    &--groups {

        @include bp-medium-max {
            flex-direction: column;
        }
    }

    &--collapsible {
        flex-direction: column;
        gap: 0;
    }

    &__details {
        padding: side-values(var(--spacing-3) 0 var(--spacing-2) 0);
    }

    &__title {
        display: inline-block;
        padding: 0;
        margin: side-values(0 var(--spacing-2) 0 0);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-normal);
        color: var(--alt-font-color-1);
    }

    &__button {
        margin-#{$left}: 0;
        margin-#{$right}: var(--spacing-2);
    }

    &__group {
        line-height: 1;

        &--separator {
            padding-bottom: var(--spacing-3);
            margin-bottom: var(--spacing-1);
            border-bottom: var(--border-width-base) solid var(--border-color-2);

            @include bp-medium {
                padding: side-values(0 var(--spacing-4) 0 var(--spacing-2));
                margin-bottom: 0;
                border-#{$right}: var(--border-width-base) solid var(--border-color-2);
                border-bottom: none;
            }

            &:last-child {
                border-#{$right}: none;
                border-bottom: none;
            }
        }
    }
}

.select-all {
    text-align: $right;
}


.section {
    @include clearfix();
    padding: var(--spacing-4) var(--spacing-3);
    border-bottom: var(--border-width-base) solid var(--border-color-1);

    @include bp-medium {
        padding: var(--spacing-6) var(--spacing-4);
    }

    &--modal {
        padding: var(--spacing-4) var(--spacing-3);
    }

    &:last-child {
        border-bottom: 0;
    }

    &__container {

        @include bp-medium {
            float: $left;
            box-sizing: border-box;
            width: 74%;
            padding: side-values(0 0 0 var(--spacing-6));
            margin: side-values(0 0 0 3%);
            border-#{$left}: var(--border-width-base) solid var(--border-color-3);
        }
    }

    &--inline {
        padding: side-values(var(--spacing-2) 0 var(--spacing-2) var(--spacing-5));
        margin-top: var(--spacing-4);
        border-bottom: 0;
        border-left: var(--border-width-thick) solid var(--border-color-1);
    }
}

.container {
    padding: var(--spacing-4) var(--spacing-5);
    margin-bottom: var(--spacing-6);
    background: var(--background-2);
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);
    @include box-shadow;

    &--small {
        padding: var(--spacing-3) var(--spacing-4);
        font-size: var(--font-size-small);
    }

    &--adjacent {
        margin-bottom: 0;
    }

    &--modal {
        padding: var(--spacing-3) var(--spacing-6);
        margin: side-values(calc(-1 * var(--spacing-3)) calc(-1 * var(--spacing-5)) 0 calc(-1 * var(--spacing-5)));
        border-bottom: var(--border-width-base) solid var(--border-color-1);
        border-radius: 0;
    }

    &--simple-columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include bp-small {
            flex-direction: row;
            align-items: center;
        }
    }

    &--jump-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include bp-medium {
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-4);
            padding: var(--spacing-4) var(--spacing-5);
        }
    }
}

.page-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-4);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-6);

    &--compact {
        margin-top: calc(-1 * var(--spacing-3));
        margin-bottom: var(--spacing-5);

        .pagination {
            margin: 0;
        }
    }

    &--border-top {
        border-top: var(--border-width-base) solid var(--border-color-1);
    }

    @include bp-medium {
        flex-direction: row;
        align-items: center;

        .page-buttons {
            order: 2;
            margin-#{$left}: auto;
            margin-#{$right}: calc(-1 * var(--spacing-2));
        }
    }
}

.main .page-content--menu .page-controls--compact {
    margin-top: calc(-1 * var(--spacing-3));
}

@include bp-large {

    .simple-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__item {
            width: 48%;
        }
    }
}


.page-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp-large {
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        box-sizing: border-box;
        width: 100%;
        margin: 0;

        @extend .inline-form;

        &:first-child {
            margin-bottom: var(--spacing-5);

            @include bp-large {
                margin-bottom: 0;
            }
        }

        @include bp-large {
            width: auto;
        }
    }
}
