// TO DO: Change classes to BEM syntax
.popup_menu {
    border: var(--border-width-base) solid var(--border-color-1);
    border-radius: var(--border-radius);
    background: var(--background-1);
    padding: var(--spacing-3);
}
