.row {
    position: relative;
    padding: var(--spacing-4) var(--spacing-5);
    line-height: var(--line-height-small);
    border-bottom: var(--border-width-base) solid var(--border-color-1);

    &--form {
        padding: var(--spacing-5) var(--spacing-4);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: var(--spacing-3);
            border-bottom: 0;
        }
    }

    &--compact {
        padding-top: var(--spacing-2);
        padding-bottom: var(--spacing-2);

        &:last-child {
            padding-bottom: 0;
        }
    }

    &--information {
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);
    }

    &--no-border {
        border: none;
    }

    &--simple-columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include bp-small {
            flex-direction: row;
            align-items: center;
        }
    }

    &--selected {
        background-color: var(--status-highlight-background-color);
        border-color: var(--status-highlight-border-color);
    }

    &:has(.checkbox--select-row:checked) {
        @extend .row--selected;
    }

    &__secondary {

        @include bp-small-max {
            padding: side-values(var(--spacing-3) var(--spacing-4));
            margin-top: var(--spacing-3);
            background: var(--background-1);
            border-radius: var(--border-radius);
        }
    }

    &__controls {
        flex-shrink: 0;

        @include bp-small-max {
            margin-top: var(--spacing-2);
        }

        @include bp-small {
            margin-#{$left}: var(--spacing-4);
        }
    }

    &__select-control {

        @include bp-small-max {
            position: absolute;
            top: var(--spacing-4);
            right: var(--spacing-4);
            float: $right;
        }
    }

    &__description {
        margin: 0;
        font-size: var(--font-size-small);
    }
}
