.section-menu {

    @include bp-medium {
        flex: 0 0 22%;
        min-width: 200px;
    }

    &__title {
        padding: var(--spacing-3) 0;
        margin: side-values(var(--spacing-4) 0 var(--spacing-5) 0);
        font-family: var(--heading-font-stack);
        font-size: var(--font-size-larger);
        font-weight: normal;
        border-bottom: var(--border-width-page-header) solid var(--border-color-1);
    }

    &__toggle {
        cursor: text;

        @include bp-medium-max {
            display: block;
            cursor: pointer;
        }
    }

    &__menu-icon {
        margin-#{$right}: var(--spacing-2);
        font-size: var(--font-size-large);
        color: var(--alt-font-color-2);

        @include bp-medium {
            display: none;
        }
    }

    &__collapse,
    &__expand {
        display: none;
        float: $right;
        margin-top: var(--spacing-3);
        font-size: var(--font-size-large);
        color: var(--alt-font-color-3);
    }

    &__expand {
        @include bp-medium-max {
            display: block;
        }
    }

    &__checkbox {
        display: none;

        @include bp-medium-max {

            &:checked ~ .section-menu__links {
                display: block;
            }

            &:checked ~ .section-menu__title {
                margin-bottom: var(--spacing-3);

                & .section-menu__collapse {
                    display: block;
                }
            }

            &:checked ~ .section-menu__title .section-menu__expand {
                display: none;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: side-values(0 0 var(--spacing-5) 0);
        list-style: none;

        @include bp-medium-max {
            display: none;
        }
    }

    &__item {
        margin-bottom: var(--spacing-2);

        &--active {

            .section-menu__link {
                color: var(--invert-font-color);
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                @include box-shadow;
            }
        }

        &--sub-item {
            margin-#{$left}: var(--spacing-5);
        }

        &--sub-item {
            margin-#{$left}: var(--spacing-5);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: var(--spacing-2) var(--spacing-3);
        border-radius: var(--border-radius);

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: var(--invert-font-color);
            background-color: var(--button-hover-color);
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-3);
        font-size: var(--font-size-regular);
    }
}