.section-menu {

    @include bp-medium {
        float: $left;
        width: 22%;
        margin-#{$right}: 3%;
    }

    &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: side-values(0 0 var(--spacing-5) 0);
        list-style: none;

        @include bp-medium {
            margin: 0;
        }
    }

    &__item {
        width: 49%;
        margin-bottom: var(--spacing-3);

        @include bp-medium {
            width: 100%;
            margin-bottom: var(--spacing-2);
        }

        &--active {

            .section-menu__link {
                color: var(--invert-font-color);
                background-color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: side-values(var(--spacing-4) var(--spacing-3) var(--spacing-3) var(--spacing-3));
        background: var(--background-1);
        border-radius: var(--border-radius);

        @include bp-medium {
            flex-direction: row;
            padding: var(--spacing-1) var(--spacing-3);
        }

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: var(--invert-font-color);
            background-color: var(--button-hover-color);
            border-color: var(--button-hover-color);
        }
    }

    &__icon {
        margin-bottom: var(--spacing-2);
        font-size: var(--font-size-larger);

        @include bp-medium {
            margin-#{$right}: var(--spacing-3);
            margin-bottom: 0;
            font-size: var(--font-size-regular);
        }
    }

    &__text {

    }
}
