// TODO: clean up / generalize (not always used for sorting results)

.sort-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-4);
    margin-bottom: var(--spacing-6);
    clear: both;
    background-color: var(--background-2);
    border-radius: var(--border-radius);

    @extend .inline-form;

    &__title {
        display: inline-block;
        padding: 0;
        margin: side-values(0 var(--spacing-4) 0 0);
        font-size: var(--font-size-small);
        font-weight: normal;
        color: var(--alt-font-color-1);
    }

    &__text {
        margin: 0 var(--spacing-3);
        font-size: var(--font-size-small);
        color: var(--alt-font-color-1);
    }
}

.select-all {
    text-align: $right;
}

.results {

    .row:last-child {
        border-bottom: none;
    }
}
