.spinner {

    &__icon {
        display: block;
        margin: side-values(var(--spacing-4) auto var(--spacing-6) auto);
        font-size: var(--font-size-larger);
        color: var(--alt-font-color-1);

        .fa-spin {
            display: block;
        }
    }
}
