.tag {
    display: inline-block;
    padding: var(--spacing-1) var(--spacing-3);
    font-size: var(--font-size-small);
    color: var(--alt-font-color-1);
    text-transform: uppercase;
    background: var(--background-3);
    border-radius: var(--border-radius);

    &--float {
        float: $right;
    }

    &--good {
        color: var(--invert-font-color);
        background-color: var(--success-color);
    }

    &--medium {
        color: var(--invert-font-color);
        background-color: var(--moderate-color);
    }

    &--bad {
        color: var(--invert-font-color);
        background-color: var(--danger-color);
    }

    &--thread-prefix {
        margin-#{$right}: var(--spacing-2);
    }

    &--thread-status {
        margin-#{$left}: var(--spacing-2);
        font-size: var(--font-size-smaller);
    }

    &--post-status {
        margin-bottom: var(--spacing-3);
    }

    &--deleted {
        color: var(--status-deleted-font-color);
        background-color: var(--status-deleted-background-color);
    }

    &--awaiting-approval {
        color: var(--status-pending-font-color);
        background-color: var(--status-pending-background-color);
    }
}
