<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table width="100%" cellspacing="{{ theme.borderwidth }}" cellpadding="{{ theme.tablespace }}" border="0" align="center" class="tborder">
            <tr>
                <td colspan="2" class="thead"><strong>{{ lang.view_notes_for }}</strong></td>
            </tr>
            <tr>
                <td class="trow1">{{ thread.notes }}</td>
            </tr>
        </table>
    </div>
</div>