#left_menu div.left_menu_box ul.online_admins li a {
	background: url('images/icons/user.gif') no-repeat 15px 4px;
	padding-left: 37px;
}

#left_menu div.left_menu_box ul.online_admins li.mobile_user a {
	background: url('images/icons/mobile_user.gif') no-repeat 15px 4px;
	padding-left: 37px;
}