/**
 * Global page footer
 */
.footer {

    // Language and theme quick-selectors
    &__selectors {
        margin-top: var(--spacing-6);
    }

    // Admin debug info
    &__debug {
        margin-top: var(--spacing-6);
        font-size: var(--font-size-smaller);
        line-height: 1.4;
        color: var(--alt-font-color-1);
    }

    // Footer links
    &__navigation {
        padding: var(--spacing-4) 0;
        margin-top: var(--spacing-4);
        margin-bottom: var(--spacing-4);
        clear: both;
        background: var(--background-2);
    }

    // MyBB Powered By wrapper
    &__copyright {
        text-align: center;
    }
}

/**
 * MyBB Powered By statement
 */
.powered-by {
    padding: 0 0 var(--spacing-4) 0;
    margin: 0;
    clear: both;
    font-size: var(--font-size-smaller);
    color: var(--alt-font-color-2);

    &__link:link,
    &__link:visited {
        color: var(--alt-font-color-1);
    }
}

/**
 * Page wrapper (footer)
 */
.wrapper--footer {
    position: relative;
}

/**
 * Footer link menu
 */
.footer-menu {
    font-size: var(--font-size-small);

    // List of links (<ul>)
    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        @include bp-large {
            justify-content: space-between;
        }
    }

    // Link item (<li>)
    &__item {
        padding: var(--spacing-2) var(--spacing-4);
    }

    // Link (<a>)
    &__link {

        &:link,
        &:visited {
            color: var(--alt-font-color-1);
        }

        &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
        }
    }

    // Icon accompanying link (contained within <a>)
    &__icon {
        margin-#{$right}: var(--spacing-2);
    }

    // Link text (contained within <a>)
    &__text {
        // unused
    }
}
