// Global forum search in forum header
.global-search {
    width: 100%;

    @include bp-medium {
        width: 35%;
    }

    // Hidden checkbox to show/hide on mobile
    &__checkbox {
        display: none;
    }

    // Search button, close button on mobile
    &__mobile-search-button,
    &__mobile-search-close-button {
        position: absolute;
        top: var(--spacing-4);
        right: 0;
        display: none; // hidden by default
        padding: 0 var(--spacing-3);
        margin-#{$right}: 0;
        font-size: var(--font-size-large);
        color: var(--alt-font-color-1);

        &:hover {
            color: var(--secondary-color);
            cursor: pointer;
        }

        @include bp-small-max {
            top: var(--spacing-3);
        }
    }

    &__mobile-search-button {

        @include bp-medium-max {
            display: inline-block; // only shown on small screens
        }
    }

    // Search box container
    &__container {
        box-sizing: border-box;
        display: none;
        width: auto;
        padding: side-values(var(--spacing-1) 0 var(--spacing-1)) var(--spacing-3);
        margin: var(--border-width-base);
        cursor: text;
        background: var(--background-default);
        border-radius: var(--border-radius);
        box-shadow: 0 0 3px rgba(0,0,0,0.06);

        @include bp-medium {
            display: block;
            clear: none;
        }

        @include bp-medium-max {
            margin-bottom: var(--spacing-3);
        }
    }

    // Wrapper element that allows for some additional padding
    &__label {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        cursor: text;
    }

    // Search box
    .global-search__field {    // nesting required
        box-sizing: border-box;
        flex-grow: 1;
        min-width: 0;
        padding: var(--spacing-2);
        margin: 0;
        font-size: var(--font-size-regular);
        background-color: var(--background-default);
        border: 0;
        outline: 0;
    }

    // Search, advanced search buttons wrapper
    &__controls {
        box-sizing: border-box;
        flex-shrink: 0;
        padding-#{$right}: var(--spacing-3);
        text-align: $right;
    }

    // Search, advanced search buttons
    &__submit,
    &__advanced {
        display: inline-block;
        padding: var(--spacing-1) 0;
        margin: side-values(0 0 0 6px);
        font-size: var(--font-size-regular);
        color: var(--alt-font-color-2);
        cursor: pointer;
        background: none;
        border: 0;

        &:link,
        &:visited {
            color: var(--alt-font-color-2);
        }

        &:hover {
            color: var(--alt-font-color-1);
        }
    }
}

// Do not show mobile search button if it has already been clicked
#show-mobile-search:checked ~ .global-search__mobile-search-button {
    display: none;
}

// Instead, show the close search button
#show-mobile-search:checked ~ .global-search__mobile-search-close-button {

    @include bp-medium-max {
        display: inline-block;
    }
}

// Show the search box if the mobile search button has been clicked
#show-mobile-search:checked ~ .global-search__container {
    display: block;
}