// Global page header
.header {
    background: var(--header-background);
    min-height: var(--header-height);

    // Page title
    &__title {
        height: 100%;
        margin: 0;

        // Logo wrapper
        // For styling of logo , see _logo.scss
        .logo {
            display: flex;
            align-items: center;
            height: var(--header-height);
            margin-#{$right}: 50px;
        }
    }
}

// Page wrapper (header)
.wrapper--header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

// Main navigation menu
.main-menu {
    flex-grow: 1;

    @include bp-medium-max {
        display: none;
    }

    // List of links (<ul>)
    &__links {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        list-style: none;

        @include bp-medium-max {
            flex-wrap: wrap;
            margin: 0 -6%;
            background: var(--header-background);
            border-bottom: var(--border-width-base) solid var(--border-color-4);
        }
    }

    // Link item (<li>)
    &__item {
        flex-shrink: 0;

        @include bp-medium-max {
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            border-top: var(--border-width-base) solid var(--border-color-4);
        }

        // Active menu item
        &--active {
            
            &,
            .main-menu__icon,
            .main-menu__link:hover {
                color: var(--invert-font-color);
                background: var(--primary-color);
            }
        }
    }

    // Link (<a>)
    &__link {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: var(--spacing-3) var(--spacing-7);
        margin: 0;
        font-size: var(--font-size-regular);
        font-weight: var(--font-weight-light);
        transition: background var(--transition-speed) ease;
        
        @include bp-medium {   
            justify-content: center;
            height: var(--header-height);
            padding: 0 var(--spacing-5);
        }

        &:link,
        &:visited {
            color: var(--invert-font-color);
            text-decoration: none;
        }

        &:hover {
            background: var(--header-background-shade-1);
        }
    }

    // Link icon (contained within <a>)
    &__icon {
        margin-#{$right}: var(--spacing-3);
        color: var(--alt-font-color-2);
    }
}

// Hidden checkbox for show/hide of menu on small screens
.menu-checkbox {
    display: none;
}

// Menu button on small screens
.menu-button {
    display: none;
    padding: 0 var(--spacing-4);
    font-size: var(--font-size-larger);
    color: var(--invert-font-color);
    cursor: pointer;

    @include bp-medium-max {
        display: block;
    }
}

// Show menu links if mobile menu button has been clicked
#show-mobile-menu:checked ~ .main-menu {
    
    @include bp-medium-max {
        display: block;
    }
}
