/**
 * Global page header
 */
.header {
    background: var(--header-background);

    @include bp-medium {
        display: flex;
        flex-direction: row;
        height: var(--header-height);
    }

    // Page title
    &__title {
        height: 100%;
        margin: 0;

        @include bp-medium {
            float: $left;
        }

        // Logo wrapper
        // For styling of logo , see _logo.scss
        .logo {
            display: flex;
            align-items: center;
            height: var(--header-height);
            margin-#{$right}: 50px;

            @include bp-medium {
                height: 100%;
            }
        }
    }

    // Menu and close menu buttons on small screens
    .menu-button,
    .menu-close-button {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 26px 8px; // TODO: Adjust button padding based on header height
        cursor: pointer;

        // Button icon
        &__icon {
            color: var(--invert-font-color);
            font-size: 24px; // TODO: Adjust button size based on header height
        }

        // Hide if hidden
        &--hide {
            display: none;
        }

        @include bp-medium {
            display: none;
        }
    }

    // Hidden checkbox for show/hide of menu on small screens
    &__checkbox {
        display: none;
    }
}

/**
 * Page wrapper (header)
 */
.wrapper--header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp-medium {
        flex-direction: row;
    }
}

/**
 * Main navigation menu
 */
.main-menu {
    flex-grow: 1;
    height: 100%;

    @include bp-medium-max {
        display: none;
    }

    // List of links (<ul>)
    &__links {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        @include bp-medium-max {
            flex-wrap: wrap;
            margin: 0 -6%;
            background: var(--header-background);
            border-bottom: 1px solid var(--border-color-4);
        }
    }

    // Link item (<li>)
    &__item {
        $module: &;
        flex-shrink: 0;

        @include bp-medium-max {
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            border-top: 1px solid var(--border-color-4);
        }

        // Active menu item
        &--active {
            color: var(--invert-font-color);
            background: var(--primary-color);

            .main-menu__link {

                &:hover {
                    background: var(--primary-color);
                }
            }
        }
    }

    // Link (<a>)
    &__link {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 var(--spacing-5);
        margin: 0;
        font-size: var(--font-size-regular);
        font-weight: 300;
        transition: background var(--transition-speed) ease;

        @include bp-medium-max {
            justify-content: flex-start;
            padding: var(--spacing-3) var(--spacing-6);
            text-align: left;
        }

        &:link,
        &:visited {
            color: var(--invert-font-color);
            text-decoration: none;
        }

        &:hover {
            background: var(--header-background-shade-1);
        }
    }

    // Link icon (contained within <a>)
    &__icon {
        margin-#{$right}: var(--spacing-3);
        color: var(--alt-font-color-2);
    }

    // Link text (contained within <a>)
    &__text {
        // unused
    }
}

/**
 * Show menu links if mobile menu button has been clicked
 */
#show-mobile-menu:checked ~ .main-menu {

    @include bp-medium-max {
        display: block;
    }
}
