html, button, input, select, textarea {
    color: var(--font-color);
    word-wrap: break-word;
}

::selection {
    color: var(--invert-font-color);
    background: var(--secondary-color);
    text-shadow: none;
}

body {
    margin: 0;
    font: var(--font-size-base)/var(--line-height-base) var(--font-stack);
    background: var(--background-default);
}

input, select, textarea, button {
    font: var(--font-size-base) var(--font-stack);
}

a:link,
a:visited {
    color: var(--link-default-color);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--link-hover-color);
    text-decoration: underline;
}

a:focus,
button:focus {
    outline: 0;
}

hr {
    display: block;
    height: var(--border-width-base);
    padding: 0;
    margin: 1em 0;
    border: 0;
    border-top: var(--border-width-base) solid var(--border-color-2);
}

img {
    vertical-align: middle;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

.wrapper {
    @include clearfix();
    width: 90%;
    margin: 0 5%;

    @include bp-large {
        max-width: 1250px;
        margin: 0 auto;
    }
}

.main {
    padding: side-values(var(--spacing-6) 0 var(--spacing-4) 0);

    @include bp-medium {

        .page-content {

            &--sidebar {
                float: $left;
                width: 62%;
            }

            &--centered {
                float: none;
                width: 60%;
                margin: auto auto;
            }

            &--menu {
                float: $left;
                width: 75%;
            }
        }

        .page-sidebar {
            float: $right;
            width: 35%;
            margin-top: 0;
        }
    }

    .page-header {
        padding-bottom: 0;
        margin-bottom: var(--spacing-6);
        border-bottom: var(--border-width-thick) solid var(--border-color-3);

        .page-description {
            margin: side-values(0 0 var(--spacing-4) 0);
            font-size: var(--font-size-small);
            color: var(--alt-font-color-1);
        }
    }

    .page-footer {
        clear: both;
        border-top: var(--border-width-thick) solid var(--border-color-3);
    }

    .page-sidebar {
        padding-bottom: var(--spacing-4);
        font-size: var(--font-size-small);
    }
}
