.user-bar {
    min-height: 50px;
    clear: both;
    background: var(--user-bar-background);

    &__links {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        float: $left;
        margin: 0;

        &--active-user {
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
        }
    }

    &__link {

        &,
        &:link,
        &:visited {
            display: inline-block;
            padding: var(--spacing-4);
            color: var(--alt-font-color-1);
            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-2);
        font-size: var(--font-size-large);
    }

    &__text {
        display: none;

        @include bp-large {
            display: inline-block;
        }

        &--username {

            @include bp-small {
                display: inline-block;
            }
        }
    }

    &__caret {
        display: inline;
        font-size: var(--font-size-small);

        &--up {
            display: none;
        }
    }

    &__unread-count {
        padding: side-values(1px 5px 2px 5px);
        margin: side-values(0 0 0 var(--spacing-2));
        font-size: var(--font-size-smallest);
        font-weight: normal;
        color: var(--invert-font-color);
        text-decoration: none;
        vertical-align: middle;
        background: var(--status-unread-color);
        border-radius: calc(var(--border-radius) / 2);
    }

    &__checkbox {
        display: none;
    }

    &__dropdown {
        position: absolute;
        top: 50px;
        #{$left}: -1px;
        display: none;
        width: 250px;
        padding: side-values(var(--spacing-3) var(--spacing-4) var(--spacing-3) var(--spacing-4));
        font-size: var(--font-size-small);
        background: var(--background-1);
        border: 1px solid var(--user-bar-background-shade-1);
        border-top: none;
        border-radius: corner-values(0 0 var(--border-radius) var(--border-radius));

        .avatar-profile-link {
            float: $right;
            margin: side-values(var(--spacing-3) 0 0 var(--spacing-4));
        }
    }

    &__username {
        padding: var(--spacing-3) var(--spacing-2);
        margin: 0;
        overflow: hidden;
        font-weight: bold;
        font-size: var(--font-size-large);
        border-bottom: 1px solid var(--border-color-1);

        @include bp-small {
            display: none;
        }
    }
}

.wrapper--user-bar {
    padding: 0;
}

#show-user-dropdown:checked ~ .user-bar__item--active-user {
    background: var(--background-1);
    border-left: 1px solid var(--border-color-1);
    border-right: 1px solid var(--border-color-1);

    .user-bar__dropdown {
        display: block;
        z-index: 100;
    }

    .user-bar__caret {

        &--up {
            display: inline;
        }

        &--down {
            display: none;
        }
    }
}

.account-links {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;

    &__item {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid var(--border-color-1);

        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: block;
        float: none;
        padding: var(--spacing-2);
        margin: 0;
        text-align: $left;
        background: transparent;
        border-#{$left}: 0;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-2);
    }
}
