.user-bar {
    background: var(--user-bar-background);
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.03), inset 0 -3px 3px rgba(0,0,0,0.03);

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include bp-medium {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__links {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin: 0;
    }

    &__link {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: var(--spacing-4);

        &,
        &:link,
        &:visited {
            color: var(--alt-font-color-1);
        }

        &:hover {
            // color: var(--link-hover-color);
            background: var(--user-bar-background-shade-1);
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-2);
        font-size: var(--font-size-large);
    }

    &__text {
        display: none;
        padding: 0 var(--spacing-1);

        @include bp-large {
            display: inline-block;
        }

        &--username {

            @include bp-small {
                display: inline-block;
            }
        }
    }

    &__caret {
        display: inline-block;
        font-size: var(--font-size-small);

        &--up {
            display: none;
        }
    }

    &__unread-count {
        padding: var(--spacing-1) var(--spacing-2);
        margin: side-values(0 0 0 var(--spacing-2));
        font-size: var(--font-size-smallest);
        font-weight: var(--font-weight-normal);
        color: var(--invert-font-color);
        background: var(--status-unread-color);
        border-radius: calc(var(--border-radius) / 2);
    }

    &__checkbox {
        display: none;
    }

    &__dropdown {
        position: absolute;
        display: none;
        min-width: 250px;
        padding: side-values(var(--spacing-3) var(--spacing-4) var(--spacing-3) var(--spacing-4));
        font-size: var(--font-size-small);
        background: var(--user-bar-background-shade-1);
        border-bottom: var(--border-width-thick) solid var(--border-color-1);
        border-radius: corner-values(0 0 var(--border-radius) var(--border-radius));
        // box-shadow:
        //     0 3px 6px rgba(0, 0, 0, 0.05),
        //     3px 0 6px rgba(0, 0, 0, 0.05),
        //     -3px 0 6px rgba(0, 0, 0, 0.05);

        .avatar-profile-link {
            float: $right;
            margin: side-values(var(--spacing-3) 0 0 var(--spacing-7));
        }
    }

    &__username {
        padding: var(--spacing-3) var(--spacing-2);
        margin: 0;
        overflow: hidden;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-large);
        border-bottom: var(--border-width-base) solid var(--border-color-1);

        @include bp-small {
            display: none;
        }
    }
}

.wrapper--user-bar {
    padding: 0;
}

#show-user-dropdown:checked ~ .user-bar__item--active-user {
    background: var(--user-bar-background-shade-1);

    .user-bar__dropdown {
        display: block;
        z-index: 100;
    }

    .user-bar__caret {

        &--up {
            display: inline;
        }

        &--down {
            display: none;
        }
    }
}

.account-links {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;

    &__item {
        display: block;
        float: none;
        padding: 0;
        margin: 0;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: block;
        float: none;
        padding: var(--spacing-2);
        margin: 0;
        
        text-align: $left;
        background: transparent;

        &:link,
        &:visited {
            color: var(--alt-font-color-1);
        }

        &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
        }
    }

    &__icon {
        margin-#{$right}: var(--spacing-2);
    }
}
