#sidebar_navigation, #sidebar .item ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar_navigation li
{
	padding: 3px 3px 3px 5px;
}
 
.sidebar_item_content li
{
	padding: 1px;
}
 
#sidebar_navigation a
{
	padding: 0 0 5px 22px;
}
 
.plugin a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/plugin.png') no-repeat;
}
 
.modification a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/modification.png') no-repeat;
}
 
.theme a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/theme.png') no-repeat;
}
 
.graphic a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/graphic.png') no-repeat;
}
 
.resource a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/resource.png') no-repeat;
}
 
.search a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/search.png') no-repeat;
}
 
.stats a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/statistics.png') no-repeat;
}
 
.theme-demo a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/theme.png') no-repeat;
}
 
.make-submission a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/submit.png') no-repeat;
}
 
.personal-cp a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/personal-cp.png') no-repeat;
}
 
.about a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/about.png') no-repeat;
}
 
.feed a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/feed.png') no-repeat;
}

.bugs a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/bug.png') no-repeat;
}

.editproject a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/edit.png') no-repeat;
}

.collaborators a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/user.png') no-repeat;
}

.builds a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/builds.png') no-repeat;
}

.previews_link a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/previews.png') no-repeat;
}

.suggestions a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/suggestion.png') no-repeat;
}
 
.archive a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/archive.png') no-repeat;
}
 
#welcome_user 
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/user.png') no-repeat;
	font-weight: bold;
}
 
.logout a
{
	padding-right: 22px;
	background: url('/mods/assets/images/icons/logout.png') no-repeat right;
}
 
.download a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/download.png') no-repeat;
}
 
.licence a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/resource.png') no-repeat;
}
 
.recommend a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/install.png') no-repeat;
}
 
.unrecommend a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/uninstall.png') no-repeat;
}

.leave a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/leave.png') no-repeat;
}

.assigned a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/tag.png') no-repeat;
}
 
.live-demo a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/demo.png') no-repeat;
}
 
.change-log a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/change-log.png') no-repeat;
}
 
.reviews a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/review.png') no-repeat;
}
 
.support a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/support.png') no-repeat;
}
 
.translation a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/translation.png') no-repeat;
}
 
.submit-translation
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/submit_translation.png') no-repeat;
}
 
.manage-downloads a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/download.png') no-repeat;
}
 
.manage-resources a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/resource.png') no-repeat;
}
 
.manage-translations a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/translation.png') no-repeat;
}
 
.manage-installed a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/install.png') no-repeat;
}
 
.manage-licenses a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/license.png') no-repeat;
}
 
.new-license
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/add_license.png') no-repeat;
}
 
.convert-licenses
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/convert_license.png') no-repeat;
}
 
.uninstall
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/uninstall.png') no-repeat;
}
 
.add-review
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/add_review.png') no-repeat;
}
 
.view-change-log
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/change-log.png') no-repeat;
}
 
.support_cp
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/support.png') no-repeat;
}
 
.edit
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/edit.png') no-repeat;
}
 
.delete
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/delete.png') no-repeat;
}
 
.change-log_cp
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/change-log.png') no-repeat;
}
 
.previews-link
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/previews.png') no-repeat;
}
 
.translations
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/translation.png') no-repeat;
}
 
.attachment
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/attachment.png') no-repeat;
}
 
.popular-downloads a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/popular_downloads.png') no-repeat;
}
 
.popular-resources a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/popular_resources.png') no-repeat;
}
 
.top-downloads a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/star.png') no-repeat;
}
 
.top-resources a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/star_grey.png') no-repeat;
}
 
.latest-submissions a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/submit.png') no-repeat;
}
 
.latest-updates a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/edit.png') no-repeat;
}
 
.all a
{
	padding-left: 22px;
	background: url('/mods/assets/images/icons/all.png') no-repeat;
}
 
.display_guid
{
	background: #F5F5F5;
	border: 1px solid #DBDBDB;
	padding: 10px;
	font-family: 'Courier New', Arial;
}
 
.error_box
{
	background: #F5F5F5;
	border: 1px solid red;
	padding: 10px;
	margin-bottom: 20px;
}
 
.mandatory, .rejected
{
	color: red;
}
 
.visible
{
	color: green;
}
 
.invisible_item, .validating
{
	color: grey;
}
 
.pagination
{
	clear: both;
	margin-top: 5px;
}
 
.pagination .pages
{
	font-weight: bold;
}
 
.pagination .current, .pagination .pagination_current, .pagination a
{
	padding: 2px 6px;
	margin: 2px;
}
 
.pagination a
{
	border: 1px solid #CCCCCC;
}
 
.pagination a:hover
{
	background: #EFEFEF;
}
 
.code_header, .quote_header
{
	background: #DBDBDB;
	border: 1px solid #DBDBDB;
	font-weight: bold;
	padding: 3px;
	width: 98%;
	clear: right;
}
 
.code_body, .quote_body
{
	background: #F5F5F5;
	border: 1px solid #DBDBDB;
	padding: 3px;
	overflow: auto;
	width: 98%;
	clear: right;
}
 
.suggest_link
{
	background-color: #F5F5F5;
	padding: 2px 6px 2px 6px;
}
 
.suggest_link_over
{
	background-color: #3366CC;
	color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}
 
#search_suggest
{
	position: absolute; 
	background-color: #F5F5F5;
	text-align: left; 
	border: 1px solid #EFEFEF;			
}
 
.details
{
	margin-top: 10px;
}
 
.previews
{
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-top: 10px;
}
 
.review
{
	border: 1px solid #DBDBDB;
	padding: 5px;
	margin-top: 10px;
	margin-right: 30.5%;
	background-color: #F5F5F5;
}
 
.review p
{
	margin: 0;
}
 
.review_info
{
	margin-top: 10px;
}
 
div.label label
{
	font-weight: bold;
}
 
div.submission_terms
{
	margin-top: 20px;
}
 
/* Additional CSS */
/*
 * Left Sidebar
 */ 
div.sidebar_right {
  float: right;
  width: 21.5%;
  padding: 0;
  margin: 0;
}
 
/* Sidebar Item */
div.sidebar_right div.item_right {
	margin: 0;
	margin-top: 10px;
	margin-left: 15px;
	background: #F7F3C7 url(/mods/assets/images/sidebar_bg.gif) top left repeat-x; /* sidebar item background */
	border: 1px solid #f9d25f;
	padding: 10px;
	padding-top: 1px;
	position: relative;
}
 
div.sidebar_right hr {
	border: 0px;
}
 
/* Sidebar Item Text: Paragraph */
div.sidebar_right p {
	margin: 0;
	margin-left: 8px;
}
 
/* Sidebar Item Text: List (Container) */
div.sidebar_right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 8px;
}
 
/* Sidebar Item Text: List (Item)*/
div.sidebar_right ul li {
	margin: 0;
	padding: 0;
}
 
div.item_right h3 {
	color: #036;
	font-size: 1em;
}
 
/* Ajax based ratings */
.star_rating,
.star_rating li a:hover,
.star_rating .current_rating {
	background: url(/mods/assets/images/star_rating.gif) left -1000px repeat-x;
	vertical-align: middle;
}
 
.star_rating {
	position: relative;
	width:80px;
	height:16px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: left top;
}
 
.star_rating li {
	display: inline;
}
 
.star_rating li a,
.star_rating .current_rating {
	position: absolute;
	text-indent: -1000px;
	height: 16px;
	line-height: 16px;
	outline: none;
	overflow: hidden;
	border: none;
	top:0;
	left:0;
}
 
.star_rating_notrated li a:hover {
	background-position: left bottom;
}
 
.star_rating li a.one_star {
	width:20%;
	z-index:6;
}
 
.star_rating li a.two_stars {
	width:40%;
	z-index:5;
}
 
.star_rating li a.three_stars {
	width:60%;
	z-index:4;
}
 
.star_rating li a.four_stars {
	width:80%;
	z-index:3;
}
 
.star_rating li a.five_stars {
	width:100%;
	z-index:2;
}
 
.star_rating .current_rating {
	z-index:1;
	background-position: left center;
}
 
.star_rating_success {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
	line-height: 1;
}
 
.inline_rating {
	float: left;
	vertical-align: middle;
	padding-right: 5px;
}
 
/* Previews */
 
.preview_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
 
.preview_list li {
	display: block;
	width: 100px;
	height: 120px;
	background: #fff;
	border: 1px solid #ccc;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 4px;
}
 
.preview_list li .image {
	width: 100px;
	height: 100px;
	margin: auto;
}
 
a.delete_preview, a.insert_preview {
	padding-left: 19px;
	background: url(/mods/assets/images/admin/delete.png) no-repeat top left;
	padding-top: 1px;
	color: #000;
	text-decoration: none;
}
 
a.insert_preview {
	background: url(/mods/assets/images/icons/insert_preview.png) no-repeat top left;
}
 
a.delete_preview:hover, a.insert_preview:hover {
	color: red;
}
 
/* PREVIEWS */

.preview_image {
	width: 100px;
	height: 100px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	float: left;
	margin: 5px;
}
 
/* Ajax review editing */
 
.edit_review textarea {
	width: 97%;
	height: 10em;
}
 
.edit_review .inline_submit {
	text-align: right;
	border-top: 1px solid #ccc;
	padding-top: 4px;
}
 
.edit_review .inline_submit input {
	font-weight: bold;
}
 
div.item_right div.sidebar_top, div.item_right div.sidebar_bottom {
	/* width: 195px; */
}
 
/* Fix search box button width */
input#search_button {
	width: 95px;
}
 
/* Temp notice */
.notice
{
	background-color: #FFFFCC;
	border: 1px solid #FFD700;
	padding: 5px;
	margin: 10px;
}

.clear {
	clear: both;
}