/*
 * Internet Explorer Fixes
 */

body {
  text-align: center;
}

a:hover, a:active {
	_border-bottom: 1px solid #006;
}

div#container {
  _border-bottom: 1px solid #878787;
}

#container #header {
  position: relative;
}

#container #header a.link {
	_background-image: url(http://mybboard.net/assets/images/logo.gif);
}

div#shadow {
  _background: none;
}

div#shadow_footer {
  _background: none;
}

span#search_left {
	left: 1px;
	font-size: 11px;
}

* html div#search form fieldset {
  float: right;
}

div#page {
  text-align: left;
}

div#sidebar {
  text-align: left;
  _width: 20%;
}

div#header a.link {
  display: none;
}

a.top_box_link {
  _display: none;
}

* html #menu {
  background: none;
  padding-left: 0;
}

* html #menu ul {
  padding-left: 10px;
}

#search_left {
  position: relative;
  right: -1px;
  top: -5px;
}

input#search_box {
  _height: 26px;
}

div.top_box {
  text-align: left;
}

div.top_box_arrow {
	background: invisible;
}

.top_box .left_text .large_text,
.top_box .left_text .large_text a {
  color: #023759;
  font-size: 37px;
  padding-bottom: 11px;
}

.top_box .left_text .medium_text,
.top_box .left_text .medium_text a {
  font-size: 20px;
  color: #03446f;
}

.top_box .small_text a {
  color: #ffffff;
}

div.large_text a:hover {
	text-decoration: none;
	border-bottom: 0;
}

div.sidebar_top,
div.sidebar_top div.right,
div.sidebar_bottom,
div.sidebar_bottom div.right {
	height: 10px;
	_display: none;
}
/*
div.sidebar_top {
	background: url(images/sidebar_left.png) no-repeat;
	margin-top: -6px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -11px;
	float: left;
	width: 202px;
}

div.sidebar_top div.right {
	background: url(images/sidebar_right.png) 100% 0 no-repeat;
}

div.sidebar_bottom {
	background: url(images/sidebar_left.png) 0 100% no-repeat;
	float: left;
	margin: 1px 0 0 -11px;
	width: 202px;
}

div.sidebar_bottom div.right {
	background: url(images/sidebar_right.png) 100% 100% no-repeat;
}
*/
div#sidebar div.item {
	padding-top: 5px;
}

div.sidebar_top, div.sidebar_bottom {
	width: 202px;
}

div.right_top,
div.right_top div.right,
div.right_bottom,
div.right_bottom div.right {
	height: 11px;
	_display: none;
}

div.right_top {
	background: url(images/right_left.png) no-repeat;
	margin-top: -7px;
	margin-right: 0;
	margin-bottom: -3px;
	margin-left: -7px;
	float: left;
	width: 204px;
}

div.right_top div.right {
	background: url(images/right_right.png) 100% 0 no-repeat;
}

div.right_bottom {
	background: url(images/right_left.png) 0 100% no-repeat;
	margin-top: -4px;
	margin-right: 7px;
	margin-bottom: -7px;
	margin-left: -7px;
	float: right;
}

div.right_bottom div.right {
	background: url(images/right_right.png) 100% 100% no-repeat;
}

div#primer {
  background: #0263a1 url(images/primer_bg.png) repeat-x top left;
  border: 1px solid #014d7d;
  padding: 10px;
  color: #fff;
  /*margin-top: -10px; */
  _margin-top: -1px; /* IE6 */
  text-align: left;
  margin-left: 0;
}

div#primer h2 {
  color: #fff;
  margin-bottom: -10px;
}

div#primer p {
  margin-left: 20px;
  margin-bottom: 0;
  width: 770px;
}

div.primer_top,
div.primer_top div.right,
div.primer_bottom,
div.primer_bottom div.right {
	height: 14px;
	_display: none;
}

/*
div.primer_top {
	background: url(images/primer_left.png) no-repeat;
	margin: 0 -11px -14px -11px;
	float: left;
	width: 916px;
}

div.primer_top div.right {
	background: url(images/primer_right.png) 100% 0 no-repeat;
}*/
div#primer_no_img div.primer_top {
	margin-top: -11px;
}
/*
div.primer_bottom {
	background: url(images/primer_left.png) 0 100% no-repeat;
	margin: -3px -11px -11px -11px;
	float: left;
	width: 916px;
}

div.primer_bottom div.right {
	background: url(images/primer_right.png) 100% 100% no-repeat;
}
*/


/* Left Edge */
* html .top_box .left {
  background: #2a8cc9 url(/assets/images/top_box_bg.png) top left repeat-x;
}
  
/* Right Edge */
* html .top_box .right {
  background: #2a8cc9 url(/assets/images/top_box_bg.png) top left repeat-x;
}

* html #menu li.active a, * html #menu li.active a:hover {
	background: #FFF;
}

/* Active Link Container */ 
* html #menu li.active {
	background: none;
}

* html #ml_email, * html #submit-newsletter {
height: 28px;
width: 167px;
}
