/* 
 * MyBB Website Cascading Style Sheet
 * Copyright 2007 MyBBoard Group
 * Website: http://mybboard.net
 * Contact: http://mybboard.net/contact
 */   

/*
 * 
 * General Page Layout
 *  
 */
/*
 * Body and Containers
 */
body {
  background: #efefef url(images/bg.gif);
	line-height: 1.6em;
	margin-top: 0;
	margin-bottom: 0;
}

body, td, th, div {
  font-family: Tahoma, 'Trebuchet MS', Arial, Sans-Serif;
  font-size: 13px;
}

/* Container Shadow */
div#shadow {
  position: relative;
  background: url(images/shadow.png) top left repeat-y;
  width: 980px;
  margin: auto auto;
  height: auto;
}

/* Footer Shadow */
div#shadow_footer {
  background: url(images/shadow_footer.png) top left no-repeat;
  width: 980px;
  height: 30px;
  margin: auto auto;
}

/* Container */
div#container {
  position: relative;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 940px;
  border: 1px solid #878787;
  border-top: 0;
  border-bottom: 0;
  height: auto;
}

/*
 * Links
 */ 
/* Regular Links */
a:link, a:active {
	text-decoration: none;
}

a:link {
	color: #369;
	text-decoration: none;
}

/* Visited Links */
a:visited {
	color: #036;
	text-decoration: none;
}

/* Hover Links */
a:hover, a:active {
	color: #036;
	text-decoration: none;
	border-bottom: 1px dotted #006;
}

/*
 * Inside Container
 */
/* Header Area */
#container #header {
  background: #fff url(http://www.mybboard.net/assets/images/logo_balloons.jpg) top left no-repeat;
  height: 125px;
  border-bottom: 1px solid #024570;
}

/* MyBB Logo and Link (inside header) */
#container #header a.link {
  height: 125px;
  width: 99.9%;
  display: block;
  background-position: 17px 17px;
  border-bottom: 0;
  z-index: 10;
}

/* Content Area */
#container #content {
  padding: 12px;
}

/*
 * Search
 */
div#search {
  top: 60px;
  right: 5px;
  height: 26px;
  position: absolute;
  display: inline-table;
  float: right;
}

/* Left Rounded Edge */
span#search_left {
	background: url(images/search_left.gif) no-repeat;
  cursor: text;
  width: 3px;
  height: 26px;
  display: block;
  position: relative;
  float: left;
  top: 0;
  font-size: 2px;
}

/* Input Query Textbox */
input#search_box {
  background: #fff url(images/search.png) 5px no-repeat;
  border: 1px solid #024570;
  border-left: 0;
	font-family: Tahoma, 'Trebuchet MS', Arial, sans-serif;
  padding: 5px;
  padding-left: 25px;
  width: 150px;
	height: 14px;
	float: left;
	top: 0;
}

/* Search Button */
input#search_button {
	background: url(images/search_button.gif) 100% 0% no-repeat; /* search button background */
	font-family: Tahoma, 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	border: 0;
	padding: 4px 6px 4px 6px;
	float: left;
	top: 0;
	width: 95px;
	height: 26px;
	cursor: pointer;
}

/* Search Button: Hover */
input#search_button:hover {
  background-position: 100% 100%;
}

/*
 * Top Menu
 */ 
#menu {
	position: absolute;
	top: 91px;
	right: 0;
	padding-left: 41px;
	background: url(images/menu_bg_start.png) no-repeat; /* rounded left-hand edge image */
}

#menu ul {
  list-style: none;
  margin: 0;
	padding: 0;
	height: 34px;
	background: #016db0 url(images/menu_bg.png) repeat-x; /* top menu background */
}

/* Link Container */
#menu li {
	float: left;
	margin-top: 4px;
	margin-right: 10px;
}

/* Link */
#menu li a {
	padding: 4px 10px 3px 10px;
	color: #fff;
	text-decoration: none;
	display: block;
	border-bottom: 0;
}

/* Link Hover */
#menu li a:hover {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

/* Active Link (and hover) */
#menu li.active a, #menu li.active a:hover {
	background: url(images/menu_bg_active.png) no-repeat top left; /* active link "tab" appearance */
	color: #000;
	padding: 4px 10px 4px 13px;
	border-bottom: 2px solid #ffffff;
}

/* Active Link Container */ 
#menu li.active {
	background: url(images/menu_bg_active2.png) no-repeat top right; /* right-side of active link */
	padding-right: 4px;
	position: relative;
	bottom: -1px;
}

/*
 * Footer
 */ 
div#footer {
  position: relative;
  top: 10px;
  font-size: 11px;
	clear: both;
	text-align: center;
	line-height: 1.4;
}

div#footer p {
	margin: 0 0.5em 0 0.5em;
}

/*
 * Left Sidebar
 */ 
div#sidebar {
  float: left;
  width: 22%;
  padding: 0;
  margin: 0;
}

/* Sidebar Item */
div#sidebar div.item {
	margin: 0;
	margin-top: 10px;
	background: #F7F3C7 url(images/sidebar_bg.gif) top left repeat-x; /* sidebar item background */
	border: 1px solid #f9d25f;
	padding: 10px;
	padding-top: 1px;
	position: relative;
}

div#sidebar hr {
  border: 0px;
}

/* Corners */
div.sidebar_top,
div.sidebar_top div.right,
div.sidebar_bottom,
div.sidebar_bottom div.right {
	height: 10px;
}

div.sidebar_top {
	background: url(images/sidebar_left.png) no-repeat;
	position: absolute;
	width: 202px;
	top: -1px;
	left: -1px;
	/*margin: -2px -11px; */
}

div.sidebar_top div.right {
	background: url(images/sidebar_right.png) 100% 0 no-repeat;
}

div.sidebar_bottom {
	background: url(images/sidebar_left.png) 0 100% no-repeat;
	/* margin: 2px -11px -11px -11px; */
	position: absolute;
	width: 202px;
	bottom: -1px;
	left: -1px;
}

div.sidebar_top {
	background: url(images/sidebar_left.png) no-repeat;
	position: absolute;
	width: 202px;
	top: -1px;
	left: -1px;
	/*margin: -2px -11px; */
}

div.sidebar_top div.right {
	background: url(images/sidebar_right.png) 100% 0 no-repeat;
}

div.item_right div.sidebar_top, div.item_right div.sidebar_bottom {
	width: 195px;
}


div.sidebar_bottom div.right {
	background: url(images/sidebar_right.png) 100% 100% no-repeat;
}
 
/* Sidebar Item Text: Paragraph */
div#sidebar p {
  margin: 0;
  margin-left: 8px;
}

/* Sidebar Item Text: List (Container) */
div#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 8px;
}

/* Sidebar Item Text: List (Item)*/
div#sidebar ul li {
  margin: 0;
  padding: 0;
}

/*
 * Paragraph Sylings
 */
div#page {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  width: 76.5%;
}
 
/* Individual Content Box */ 
div#page div.item {
  margin: 0;
  margin-top: 10px;
  /* display: table; Firefox hates this - rendering bug */
  /*width: 100%; */
}

/* Paragraph */
div#page div.item p {
  margin-top: 0;
}

/* 
 * Top Page Primer (all pages other than index)
 */
div#primer {
  background: #0263a1 url(images/primer_bg.png) repeat-x top left;
  border: 1px solid #014d7d;
  padding: 10px;
  color: #fff;
  position: relative;
}

/* Primer Links */
div#primer a,
div#primer a:link,
div#primer a:visited {
  color: #ffffff;
  border-bottom: 1px dotted #fff;
}

div#primer a:hover,
div#primer a:active {
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

/* Header Stylings */
div#primer h2 {
  color: #fff;
  margin-bottom: -10px;
}

/* Paragraph Stylings */
div#primer p {
  margin-bottom: 0;
  margin-left: 20px;
  width: 95%;
}

/* Corners */
div.primer_top,
div.primer_top div.right,
div.primer_bottom,
div.primer_bottom div.right {
	height: 14px;
}

div.primer_top {
	background: url(images/primer_left.png) no-repeat;
	position: absolute;
	/*margin: -11px -11px 0 -11px; */
	width: 916px;
	top: -1px;
	left: -1px;
}

div.primer_top div.right {
	background: url(images/primer_right.png) 100% 0 no-repeat;
}

div.primer_bottom {
	background: url(images/primer_left.png) 0 100% no-repeat;
	/*margin: 2px -11px -11px -11px;*/
	position: absolute;
	width: 916px;
	bottom: -1px;
	left: -1px;
}

div.primer_bottom div.right {
	background: url(images/primer_right.png) 100% 100% no-repeat;
}

/*
 *
 * Special Page Stylings
 *
 */
/*
 * Tables
 */
table.standard_table {
	border-collapse: collapse;
	margin-top: 0.5em;
	width: 100%;
	font-size: 1.0em;
}

table.standard_table thead {
	background: #046cb0;
	color: #fff;
}

table.standard_table thead th {
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 1em;
}

table.standard_table th {
  border-bottom: 1px solid #000;
	
}

table.standard_table th, table.standard_table  td {
	padding: 0.3em 0.3em 0.3em 0.8em;
}

table.standard_table thead th {
	padding-left: 0;
}

table.standard_table th.row, table.standard_table td {
	border-bottom: 1px solid #cdcdcd;
	text-align: left;
}

table.standard_table tr.alt {
	background: #f5f5f5;
}

/*
table tr td {
	white-space: nowrap;
}*/

/*
* Forms
*/

form {
	border: 0;
	margin: 0;
}

form .form_container {
	background: #efefef;
	border: 1px solid #ccc;
	padding: 0.2em 0.7em;
	margin-bottom: 0.7em;
	/*width: 100%;*/
}

legend {
	font-weight: bold;
}

dl, dt, dd {
	border: 0;
	margin: 0;
	padding: 0;
}

dl {
	margin: 0.7em 0 1em 0;
}

dd {
	margin: 0.4em 0;
}

dt {
	margin-top: 0.9em;
	font-weight: bold;
}

input.textbox {
	border: 1px solid #ccc;
	width: 45em;
	font-size: 1.0em;
	font-family: Tahoma, 'Trebuchet MS', Arial, Sans-Serif;
	padding: 0.4em;
}

select {
  border: 1px solid #ccc;
  font-size: 1.0em;
	font-family: Tahoma, 'Trebuchet MS', Arial, Sans-Serif;
  padding: 0.3em;
}

select option {
  margin-right: 0.4em;
}

input.captcha {
	width: 6em;
}

textarea {
	width: 45em;
	padding: 0.4em;
	font-size: 1.0em;
	font-family: Tahoma, 'Trebuchet MS', Arial, Sans-Serif;
	border: 1px solid #ccc;
}

p.submit {
	border-top: 2px solid #000;
	padding-top: 0.3em;
	margin-top: 0.4em;
	text-align: right;
}

p.submit input {
	font-size: 1.1em;
	font-weight: bold;
}

input.inline_submit {
	font-weight:  bold;
}

div#sidebar div.item input {
	width: 100%;
	font-size: 1em;
	padding: 0.3em;
}

/* Hide fieldset borders (fix Opera 8 bug) */
fieldset {
	border:solid 0 transparent;
	margin:  0;
	padding:  0;
}

/* Search */
ul.search_results {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.search_results li {
	margin-top: 1em;
	margin-left: 0.5em;
}

ul.search_results li .title {
	font-weight: bold;
}

ul.search_results li .url {
	color: green;
}

ul.search_results li .highlight {
	background: #ff9;
	padding: 3px;
	font-weight: bold;
}

.result_navigation {
	text-align: center;
	margin-top: 1em;
}

/*
 * Download Link Box (Index)
 */  
div.top_box {
  background: #2a8cc9 url(images/top_box_bg.png) top left repeat-x; /* download link background, with top and bottom border */
  height: 100px;
  display: block;
  z-index: 10;
}

/* Download Arrow */
div.top_box_arrow {
  background: url(images/icons_large/arrow_down.png) top left no-repeat; /* arrow image */
  background-position: 444px;
  height: 100px;
  z-index: 20;
}

/* Link Fixes */
.top_box a {
  border-bottom: 0;
  text-decoration: none;
}

/* Left Edge */
.top_box .left {
  background: #2a8cc9 url(images/top_box_left.png) top left no-repeat; /* left edge */
  height: 100px;
  width: 17px;
  float: left;
}
  
/* Right Edge */
.top_box .right {
  background: #2a8cc9 url(images/top_box_right.png) top right no-repeat; /* right edge */
  height: 100px;
  width: 17px;
  float: right;
}

/* (Larger) Left Text */
.top_box .left_text {
  position: relative;
  top: 27px;
}

/* Left Text - Large (Top) */
.top_box .left_text .large_text {
  /*color: #023759;*/
  color: #012f4d;
  font-size: 37px;
  padding-bottom: 11px;
}

/* Left Text - Medium (Bottom) */
.top_box .left_text .medium_text {
  font-size: 20px;
  /*color: #03446f;*/
  color: #023d63;
}

/* (Smaller) Right Text */
.top_box .small_text {
  color: #ffffff;
  position: relative;
  top: 10px;
  width: 280px;
}

/* Link over Box */
a.top_box_link {
  position: relative;
  height: 100px;
  display: block;
  margin-top: -100px;
  border-bottom: 0px;
  left: 0;
  z-index: 100;
}

/*
 * Right Hand Screenshots
 */ 
div.right_highlight {
  float: right;
  width: 190px;
  text-align: center;
  margin-left: 10px;
  padding: 6px;
  background: #f0f0f0;
  border: 1px solid #d0d0d0;
}

div.right_highlight p {
	margin-bottom: -3px;
}

/* Corners */
div.right_top,
div.right_top div.right,
div.right_bottom,
div.right_bottom div.right {
	height: 11px;
}

div.right_top {
	background: url(images/right_left.png) no-repeat;
	margin: -7px -7px 0 -7px;
}

div.right_top div.right {
	background: url(images/right_right.png) 100% 0 no-repeat;
}

div.right_bottom {
	background: url(images/right_left.png) 0 100% no-repeat;
	margin: 0 -7px -7px -7px;
	float: right;
	width: 204px;
}

div.right_bottom div.right {
	background: url(images/right_right.png) 100% 100% no-repeat;
}

/* Screenshot Image */
div#page div.item div.illustration img {
  border: 1px solid #03558A;
}

/* Caption */
div#page div.item div.illustration p.caption {
	font-size: 0.8em;
	font-family: Verdana;
	font-weight: bold;
	color: #03558A;
	width: 180px;
  text-align: left;
  padding-left: 7px;
}

/* Link Fix */
div#page div.item div.illustration a:hover {
	border-bottom: none;
}

/*
 * Download Now Link Box 
 */
a#download_button {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  background: #2c84bc url(images/download_button.png) top right; /* download button */
  height: 79px;
  width: 177px;
  border-bottom: 0;
}

/* Download Button Hover */
a#download_button:hover {
  background-position: top left;
}

/* Download Button - "Download Now" */
a#download_button span#download {
  color: #fff;
  font-size: 17px;
  display: block;
  position: relative;
  left: 8px;
  top: 25px;
}

/* Download Button - Version Number and Size */
a#download_button span#version_size {
  color: #fff;
  font-size: 11px;
  position: relative;
  left: 9px;
  top: 21px;
}

/* Other Formats Text */
#download_other_formats {
  float: right;
  position: relative;
  left: 139px;
  top: 87px;
  color: #666;
  font-size: 10px;
}

/*
 *
 * Global Usage Styles
 * 
 */
/* Hide */
.invisible {
  visibility: hidden;
  display: none;
} 
  
/* Float: Left*/
.float_left {
  float: left;
}

/* Float: Right */
.float_right {
  float: right;
}

/* Center Text */
.align_center {
  text-align: center;
}

/* Headers */
h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  margin-top: 0;
}

h2, h3, h4 {
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}

h2 {
	color: #03558A;
	font-size: 1.5em;
}

h3 {
	color: #03558A;
	font-size: 1.2em;
}

h4 {
	color: #F37200;
	font-size: 1em;
}

div#sidebar div.item h3 {
  color: #036;
	font-size: 1em;
}

/*
 *
 * Subpage Linkings - Images 
 *
 */ 
div#page div.item a.read_more {
	padding-left: 20px;
	padding-bottom: 0;
}
 
/* Index - Easy to Use */
div#page div.item a#easy_to_use {
  background: url(images/icons/box.gif) no-repeat; /* box image */
}

/* Index - Administration */
div#page div.item a#administration {
  background: url(images/icons/layout.gif) no-repeat; /* layout image */
}

/* Index - Plugin System */
/* Downloads - Download Plugins */
div#page div.item a#plugins {
  background: url(images/icons/plugin.gif) no-repeat; /* plugin image */
}

/* Download Translations */
div#page div.item a#translations {
  background: url(images/icons/translations.gif) no-repeat; /* translations image */
}

/* Downloads - Download Themes */
div#page div.item a#themes {
  background: url(images/icons/themes.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* About - About MyBB */
div#page div.item a#about_mybb {
  background: url(images/icons/book_open.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* About - About the Community */
/* Support - Community Forums */
div#page div.item a#about_community,
div#page div.item a#community_forum {
  background: url(images/icons/group.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* About - About the Team */
div#page div.item a#about_team {
  background: url(images/icons/user_suit.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* About - License */
/* Support - Wiki */
div#page div.item a#license,
div#page div.item a#wiki {
  background: url(images/icons/page_white_text.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* About - IRC Channel */
div#page div.item a#irc_channel {
  background: url(images/icons/lightning.gif) no-repeat; /* themes image */
  padding-left: 20px;
  padding-bottom: 0px;
}

/* External Links */
/* Arrow */
div#page div.item a.external,
div#page div.item a.arrow {
  background: url(images/icons/bullet_go.gif) no-repeat; /* themes image */
}


/* Success & Error Messages */

div.error {
	margin: 1em 0;
	padding: 0.5em 1em;
	border: #FC6 1px solid;
	background-color: #FFC;
}

div.error p {
	margin: 0;
}

div.error p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}

div.success{
	margin: 1em 0;
	padding: 0.5em 1em;
	border: #080 1px solid;
	background-color: #E8FCDC;
}

div.success p {
	margin: 0;
}

div.success p em {
	color: #080;
	font-style: normal;
	font-weight: bold;
}