<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <section class="block block--modal">
            <h2 class="title title--modal title--danger">{{ lang.error }}</h2>
            <div class="block__content">{{ message }}</div>
        </section>
    </div>
</div>
