<div class="modal">
    <section class="block block--modal">
        <h1 class="title title--modal">{{ lang.view_notes_for }}</h1>
        <div class="modal_content">
            <div class="block__content">{{ user.usernotes|raw }}</div>
        </div>
    </section>
</div>
