<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <table border="0" cellspacing="0" cellpadding="5" class="tborder">
            <tr>
                <td class="thead" colspan="2"><strong>__message__</strong></td>
            </tr>
            <tr>
                <td colspan="2" class="trow1">
                <div style="text-align: center" class="modal_buttons">__buttons__</div></td>
            </tr>
        </table>
    </div>
</div>
