<section class="block block--modal">
    <h2 class="title title--modal title--success">{{ report.title }}</h2>
    <div class="form form--modal">
        <div class="section section--form">
            <div class="row row--form">{{ lang.success_report_voted|raw }}</div>
        </div>
    </div>
</section>
