<section class="block block--modal">
    <h2 class="title title--modal title--danger">{{ report.title }}</h2>
    <div class="form form--modal">
        <div class="section section--form">
            <div class="row row--form">{{ report.error|raw }}</div>
        </div>
    </div>
</section>
