.mybb_error { margin: 10px; border: solid 1px var(--accent-bg-color); border-top: solid 6px var(--accent-bg-color); border-radius: 4px; font-family: sans-serif; font-size: 0.9em; }
.mybb_error * { margin: 0; padding: 0; }

/* subset of maintenance/main.css */
.mybb_error {
	--accent-bg-color: #ff9393;
	--accent-fg-color: #e51616;

	--page-subheading-fg-color: #595959;
	--page-minor-fg-color: #767676;
	--page-element-border-color: rgba(0,0,0,0.05);
	--page-element-bg-color: rgba(0,0,0,0.02);

	--footnote-bg-color: #FAFAFA;
	--footnote-border-color: rgba(0,0,0,0.02);
	--footnote-fg-color: #666;

	--footnote-link-decoration-color: rgba(0,0,0,0.2);
}

.mybb_error a { color: var(--accent-fg-color); text-decoration: none; }

.mybb_error main { padding: 30px; line-height: 26px; }
.mybb_error main h2 { margin-bottom: 20px; font-size: 1.8em; font-weight: 400; }
.mybb_error main h3 { margin-bottom: 20px; font-size: 1.2em; font-weight: 400; color: var(--page-subheading-fg-color); }
.mybb_error main > p:not(:first-child) { margin-top: 6px; }
.mybb_error main section > p:last-of-type:not(:last-child) { margin-bottom: 30px; }
.mybb_error code { padding: 2px 4px; font-family: monospace; }
.mybb_error pre code { padding: 0; display: block; }
.mybb_error a.information { color: var(--page-minor-fg-color); }
.mybb_error .footnote { padding: 16px; background: var(--footnote-bg-color); border-top: solid 1px var(--footnote-border-color); border-radius: 0 0 4px 4px; font-size: 0.9em; line-height: 1.5; color: var(--footnote-fg-color); }
.mybb_error .footnote p:not(:first-child) { margin-top: 6px; }
.mybb_error .footnote__controls { text-align: right; }
.mybb_error .footnote a { text-decoration: underline; text-decoration-color: var(--footnote-link-decoration-color); color: inherit; }

.mybb_error ul, .mybb_error ol { margin-left: 25px; }

.mybb_error dl { margin-bottom: 20px; display: flex; flex-wrap: wrap; align-items: stretch; border: solid 1px var(--page-element-border-color); border-radius: 4px; font-size: 0.9em; }
.mybb_error dt { width: 30%; background: var(--page-element-bg-color); text-align: right; }
.mybb_error dd { width: 70%; }
.mybb_error dt, .mybb_error dd { box-sizing: border-box; padding: 8px 12px; }
.mybb_error dt:not(:last-of-type), .mybb_error dd:not(:last-of-type) { border-bottom: solid 1px var(--page-element-border-color); }
