
.pagination {
    padding: 0;
    margin: 15px 0;
    font-size: 0.9em;
    text-align: center;
    list-style: none;

    &__pages {
        margin-#{$right}: 8px;
        color: $alt-font-color-1;
    }

    &__page {
        display: inline-block;
        padding: 1px 8px;
        margin-#{$right}: 4px;
        background: $background-1;
        border-radius: $radius;

        &:hover {
            color: $invert-font-color;
            text-decoration: none;
            background: $link-hover;
        }

        &--active {
            background: $button-default;
            color: $invert-font-color;

            &:hover {
                background: $button-default;
            }
        }
    }

    &__icon {
        font-size: 0.8em;
    }

    @include bp-medium {
        margin: side-values(10px 0 20px 0);
        text-align: $left;
    }
}
