<div class="alert {% if options.class %}{{ options.class }}{% else %}alert--pending{% endif %}"{% if options.id %} id="{{ options.id }}"{% endif %}>
    {% block message_before %}
        {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
    {% endblock message_before %}
    <div class="alert__message">
        {{ options.message|raw }}
    </div>
    {% block message_after %}{% endblock message_after %}
</div>
