.quickProjectSearch input {
	float: left;
}

.quickProjectSearch .submit {
	padding-left: 5px;
	overflow: auto;
}

/**
 * Project list
 */
.projectList th.name {
	text-align: left;
	padding-left: 10px;
}

.projectList th.status {
	width: 120px;
}

.projectList th.downloads {
	width: 100px;
}

.projectList th.options {
	width: 150px;
}

.projectList tr.highlight {
	background-color: #FFFBD9;
}

.projectList tr.highlight td {
	text-align: center;
}

.projectList tr.highlight a {
	font-weight: bold;
}

/**
 * Release list
 */
.createNewRelease {
	float: right;
}

.releaseList th.version,
.releaseList td.releaseVersion {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.releaseList th.status {
	width: 150px;
}

.releaseList th.downloads {
	width: 120px;
}

.releaseList th.options {
	width: 150px;
}

/**
 * Release statuses
 */
.releaseAwaitingFiles,
.releaseAwaitingApproval {
	color: #666666;
}

/**
 * Standard table
 */
table.standard_table th,
table.standard_table td {
	padding: 5px;
}

table.standard_table td.icon {
	width: 18px;
}

table.standard_table td.icon,
table.standard_table td.version,
table.standard_table td.status,
table.standard_table td.downloads,
table.standard_table td.options {
	text-align: center;
}

.projectListLink,
.returnToProjectLink {
	float: right;
}

/**
 * Release form
 */
div.form_container div.label {
	margin-top: 10px;
}

div.form_container div.label label {
	font-weight: bold;
}
