#templatebox {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100; 
	text-align: center;
	line-height: 0;
}

#fader{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#outerContainer {
	position: relative;
	background-color: #fff;
	width: 70%;
	height: 300px;
	margin: 0 auto;
}

ins, del {
	color: #000;
	padding: 2px;
	line-height: 1.5em;
	text-decoration: none;
	background: #dfd;
}

del {
	background: #fdd;
}