#templatebox {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100; 
	text-align: center;
	line-height: 0;
}

#fader{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#outerContainer {
	position: relative;
	background-color: #fff;
	width: 70%;
	height: 300px;
	margin: 0 auto;
}

ins, del {
	color: #000;
	padding: 2px;
	line-height: 1.5em;
	text-decoration: none;
	background: #dfd;
}

del {
	background: #fdd;
}

.inherited_res {
	color: #aaa;
}

.have_own_copy_res {
	color: #df8c97;
}

.core_theme {
	font-style: italic;
	color: #733;

}

.orig_theme {
	font-style: italic;
	color: #040;

}

.devdist_indicator {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 3px;
}

.devdist_indicator a {
	font-weight: bold;
}

.devdist_indicator-on {
	border-color: #ffcf3d;
	background-color: #ffea7e;
}

.devdist_indicator-on a {
	color: green;
}

.devdist_indicator-off {
	border-color: #aaff00;
	background-color: #d3ff73;
}

.devdist_indicator-off a {
	color: #c66300;
}

.ddi_onoff {
	font-weight: bold;
}
