{% if modpermissions.ismod %}
    <div class="thread__column thread__column--checkbox">
        <input type="checkbox" class="checkbox" name="inlinemod_{{ thread.tid }}" id="inlinemod_{{ thread.tid }}" value="1"{% if thread.modChecked %} checked{% endif %}  />
    </div>
{% endif %}
