.icon {

    &--primary {
        color: $primary-color;
    }

    &--secondary {
        color: $secondary-color;
    }

    &--subdued {
        color: $alt-font-color-3;
    }

    &--link:hover {
        color: $secondary-color;
    }

    &--small {
        margin: 3px;
        font-size: 0.8em;
    }
}
