// List schemes included in this theme
// Each scheme must have a corresponding SCSS file in this directory
$schemes:
    light,
    dark;

// Scheme to use if the system scheme is set and the system is using a light theme
$light-scheme: light;

// Scheme to use if the system scheme is set and the system is using a dark theme
$dark-scheme: dark;

// Scheme to use if no scheme is set
// Set to `system` to change color scheme based on system color scheme by default
$default-scheme: $light-scheme;

// Each of these colors properties must be defined by each of the color schemes, otherwise no color will be applied for that item
$properties:
    primary-color,
    primary-color-shade-1,
    secondary-color,
    secondary-color-shade-1,
    invert-color,
    shade-1,
    shade-2,
    shade-3,
    shade-4,
    shade-5,
    shade-6,
    shade-7,
    shade-8,
    shade-9,
    shade-10,
    font-color,
    invert-font-color,
    alt-font-color-1,
    alt-font-color-2,
    alt-font-color-3,
    text-highlight-color,
    link-default-color,
    link-hover-color,
    button-default-color,
    button-hover-color,
    background-default,
    content-background,
    header-background,
    header-background-shade-1,
    user-bar-background,
    user-bar-background-shade-1,
    major-title-background,
    background-1,
    background-2,
    background-3,
    background-4,
    major-title-border,
    border-color-1,
    border-color-2,
    border-color-3,
    border-color-4,
    status-new-icon-color,
    status-highlight-background-color,
    status-highlight-border-color,
    status-deleted-background-color,
    status-deleted-border-color,
    status-deleted-font-color,
    status-pending-background-color,
    status-pending-border-color,
    status-pending-font-color,
    status-unread-color,
    success-color,
    success-color-shade-1,
    moderate-color,
    moderate-color-shade-1,
    danger-color,
    danger-color-shade-1;

// Establish color property variables for defined color scheme
@mixin colors-base($scheme) {   
    
    // Set the global color properties using the color scheme's color properties
    @each $property in $properties {
        --#{$property}: var(--#{$property}--#{$scheme});
    }
}

// Set up scheme color property definitions using set scheme
@mixin set-color-property($property, $value, $scheme, $var: false) {

    // Reference another scheme color property variable if $var is set to true
    @if $var == true {
        --#{$property}--#{$scheme}: var(--#{$value}--#{$scheme});
    }

    // Otherwise, a CSS value was provided for use
    @else {
        --#{$property}--#{$scheme}: #{$value};
    }
}

// Import each of the color schemes listed above
:root {
    @import "colors_light";
    @import "colors_dark";
}

// Set up the default color scheme properties (unless system theme is default)
@if $default-scheme != system {
    html,
    html.scheme-#{$default-scheme} {
        @include colors-base($default-scheme);
    }
}

// Set up the scheme properties for the designated light theme
@media(prefers-color-scheme: light) {
    @if $default-scheme == system {
        html,
        html.scheme-system {
            @include colors-base($light-scheme);    
        }
    }

    @else {
        html.scheme-system {
            @include colors-base($light-scheme);
        }
    }
}

@media(prefers-color-scheme: dark) {
    @if $default-scheme == system {
        html,
        html.scheme-system {
            @include colors-base($dark-scheme);    
        }
    }

    @else {
        html.scheme-system {
            @include colors-base($dark-scheme);
        }
    }
}

// Set up the scheme properties for all of the other color schemes
@each $scheme in $schemes {
    @if $scheme != $default-scheme {
        html.scheme-#{$scheme} {
            @include colors-base($scheme);
        }
    }
}