<div class="alert alert--danger">
    {{ include('partials/icon.twig', {icon: 'exclamation-triangle', class: 'alert__icon'}, with_context = false) }}
    <div class="alert__message">
        <h2 class="alert__title">{% if errors.title %}{{ errors.title }}{% else %}{{ lang.please_correct_errors }}{% endif %}</h2>
        <ul class="alert__list">
            {% for error in errors.list %}
                <li>{{ error|raw }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
