{% extends 'layouts/master.twig' %}

{% block head %}
    <title>{{ mybb.settings.bbname }} - {{ lang.forum_announcement }}</title>
{% endblock head %}

{% block body %}
    <div class="page-content">
        <header class="page-header">
        	<h1 class="title title--page">{{ lang.forum_announcement }}</h1>
        </header>
        <div id="posts_container">
            <section class="topic" id="posts">
                {{ announcement|raw }}
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(".author_avatar img").error(function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock body %}
