<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block head %}
        <title>MyBB Administrator Control Panel</title>
    {% endblock head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>