.page-tabs {
    padding: side-values(8px 8px 0 8px);
    margin: side-values(0 0 20px 0);
    list-style: none;
    background: $background-1;
    border-radius: 4px;

    &__item {
        display: inline-block;
        margin: side-values(0 8px 8px 0);

        &--active {

            .page-tabs__link {
                font-weight: bold;
                color: $invert-font-color;
                text-decoration: none;
                background: $button-default;
            }
        }
    }

    &__link {
        display: inline-block;
        padding: 4px 8px;
        background: $background-1;
        border-radius: 3px;

        &:hover {
            color: $invert-font-color;
            text-decoration: none;
            background: $link-hover;
        }
    }

    &__icon {
        margin-#{$right}: 4px;
    }
}
