name: XML Syntax Check

on: [push, pull_request]

jobs:
  lint:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils
      - name: Lint
        run: |
          find . -type f -name '*.xml' -print0 | xargs -0 -n1 -P4 xmllint --noout
